In [17]:
#Parte 1
#Ejercicio 2

# Importamos las librerías necesarias
import pandas as pd

# Cargamos el archivo 2024 en un DataFrame 
file_name = "usu_individual_T124 copy.xlsx"
data_24 = pd.read_excel(file_name)

# Mostrar las primeras filas para confirmar la carga
print(data_24.head())

# Cargamos el archivo 2004 en un DataFrame
file_name = "Individual_t104 copy.dta"
data_04 = pd.read_stata(file_name)

# Mostrar las primeras filas para confirmar la carga
print(data_04.head())

                          CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  COMPONENTE  H15  \
0  TQRMNOPUTHLMKQCDEGGFB00852588  2024          1          1           3    1
1  TQRMNOPUTHLMKQCDEGGFB00852588  2024          1          1           4    1
2  TQRMNOPUTHLMKQCDEGGFB00852588  2024          1          1           5    0
3  TQRMNOPPWHLLKRCDEGGFB00852574  2024          1          1           1    1
4  TQRMNOPPWHLLKRCDEGGFB00852574  2024          1          1           2    1

   REGION MAS_500  AGLOMERADO  PONDERA  ...  PDECIFR  ADECIFR      IPCF  \
0      42       S          10      439  ...      NaN       12       0.0
1      42       S          10      439  ...      NaN       12       0.0
2      42       S          10      439  ...      NaN       12       0.0
3      42       S          10      675  ...      NaN        8  212500.0
4      42       S          10      675  ...      NaN        8  212500.0

   DECCFR  IDECCFR  RDECCFR  GDECCFR  PDECCFR  ADECCFR  PONDIH
0      12     12.0       12     12.0      NaN       12       0
1      12     12.0       12     12.0      NaN       12       0
2      12     12.0       12     12.0      NaN       12       0
3       6      6.0        6      6.0      NaN        6    1610
4       6      6.0        6      6.0      NaN        6    1610

[5 rows x 177 columns]
     CODUSU  nro_hogar componente h15    ano4       trimestre  \
0  125098          1.0        1.0  Sí  2004.0  1er. Trimestre
1  125397          1.0        1.0  Sí  2004.0  1er. Trimestre
2  125515          1.0        1.0  Sí  2004.0  1er. Trimestre
3  125558          1.0        1.0  Sí  2004.0  1er. Trimestre
4  125558          1.0        2.0  Sí  2004.0  1er. Trimestre

              region mas_500              aglomerado  pondera  ... deccfr  \
0  Gran Buenos Aires       S  Ciudad de Buenos Aires   1299.0  ...     07
1  Gran Buenos Aires       S  Ciudad de Buenos Aires   2018.0  ...     00
2  Gran Buenos Aires       S  Ciudad de Buenos Aires   1486.0  ...     07
3  Gran Buenos Aires       S  Ciudad de Buenos Aires   1674.0  ...     08
4  Gran Buenos Aires       S  Ciudad de Buenos Aires   1674.0  ...     08

  ideccfr rdeccfr gdeccfr pdeccfr adeccfr pj1_1 pj2_1 pj3_1 idimpp
0              06      06              04   0.0   0.0   0.0  00000
1              00      00              00   0.0   0.0   0.0  00000
2              07      07              05   0.0   0.0   0.0  00020
3              08      08              06   0.0   0.0   0.0  00000
4              08      08              06   0.0   0.0   0.0  00000

[5 rows x 176 columns]