In [ ]:
### TP4

In [ ]:
## PARTE I

In [ ]:
# EJERCICIO 2. 2. Descarguen la base de microdatos de la EPH correspondiente al primer trimestre de 2004 y 2024 en formato 
# .dta y .xls, respectivamente. La base de hogares se llama Hogar_t104.dta y usu_hogar_T124.xls, respectivamente. 
# Eliminen todas las observaciones que no corresponden a los aglomerados de Ciudad Autónoma de Buenos Aires o Gran Buenos 
# Aires y unan ambos trimestres en una sola base. Esto es, a la base de la encuesta individual de cada año (que usaron en el 
# TP3) unan la base de la encuesta de hogar. Asegúrese de estar usando las variables CODUSU y NRO_Hogar para el merge.

In [2]:
# Importamos las librerías necesarias
import pandas as pd

In [4]:
# Cargamos bases hogar
base_hogar_2004 = pd.read_stata("Hogar_t104.dta")
base_hogar_2024 = pd.read_excel("usu_hogar_T124.xlsx")

In [5]:
# Cargamos bases individual
base_individual_2004 = pd.read_stata('Individual_t104.dta')
base_individual_2024 = pd.read_excel('usu_individual_T124.xlsx')

In [6]:
base_hogar_2004 # Necesitamos cambiar aglomerado por nros. 'Ciudad de Buenos Aires': 32, 'Partidos del GBA': 33

,CODUSU,nro_hogar,realizada,ano4,trimestre,region,mas_500,aglomerado,pondera,iv1,...,gdeccfr,pdeccfr,adeccfr,vii1_1,vii1_2,vii2_1,vii2_2,vii2_3,vii2_4,idimph
0,125051,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,355.0,Casa,...,01,,01,1.0,0.0,3.0,0.0,0.0,0.0,00000
1,125082,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,306.0,Casa,...,03,,02,2.0,0.0,98.0,0.0,0.0,0.0,10000
2,125181,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,541.0,Casa,...,09,,09,2.0,0.0,1.0,3.0,0.0,0.0,00000
3,125283,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,255.0,Casa,...,07,,07,1.0,2.0,3.0,4.0,0.0,0.0,10000
4,126192,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,218.0,Casa,...,08,,08,2.0,0.0,Otra persona que no vive en el hogar,0.0,0.0,0.0,10000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12811,283186,1.0,Sí,2004.0,1er. Trimestre,Pampeana,N,Río Cuarto,272.0,Casa,...,,04,03,1.0,0.0,98.0,0.0,0.0,0.0,00000
12812,284685,1.0,Sí,2004.0,1er. Trimestre,Pampeana,N,Río Cuarto,397.0,Casa,...,,05,04,2.0,0.0,98.0,0.0,0.0,0.0,00000
12813,285584,1.0,Sí,2004.0,1er. Trimestre,Pampeana,N,Río Cuarto,130.0,Casa,...,,09,09,Otra persona que no vive en el hogar,0.0,98.0,0.0,0.0,0.0,00100
12814,287302,2.0,Sí,2004.0,1er. Trimestre,Pampeana,N,Río Cuarto,153.0,Casa,...,,02,02,2.0,0.0,6.0,0.0,0.0,0.0,00000
12815,288189,1.0,Sí,2004.0,1er. Trimestre,Pampeana,N,Río Cuarto,193.0,Casa,...,,01,01,2.0,0.0,98.0,0.0,0.0,0.0,00000

In [7]:
base_hogar_2024 # El aglomerado está ok

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,REALIZADA,REGION,MAS_500,AGLOMERADO,PONDERA,IV1,...,GDECCFR,PDECCFR,ADECCFR,PONDIH,VII1_1,VII1_2,VII2_1,VII2_2,VII2_3,VII2_4
0,TQRMNORPSHLOLMCDEFNFF00852337,2024,1,1,1,41,N,7,179,1,...,NaN,5.0,5,212,1,2,98,0,0,0
1,TQRMNOPRYHKOKTCDEFNFF00856789,2024,1,1,1,41,N,7,313,1,...,NaN,12.0,12,0,1,0,2,0,0,0
2,TQTMNORRSHKOKTCDEFNFF00856790,2024,1,1,1,41,N,7,286,1,...,NaN,8.0,9,401,2,0,1,0,0,0
3,TQRMNORRSHKOKTCDEFNFF00856791,2024,1,1,1,41,N,7,306,1,...,NaN,5.0,6,438,2,0,3,0,0,0
4,TQRMNOQTVHKLLLCDEFNFF00856792,2024,1,1,1,41,N,7,361,1,...,NaN,6.0,7,831,1,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16099,TQRMNOPXXHLKKUCDEFNFF00852324,2024,1,1,1,41,N,7,336,2,...,NaN,12.0,12,0,96,0,2,3,0,0
16100,TQRMNOPQTHKMLMCDEHMHF00861771,2024,1,1,1,42,N,26,141,1,...,NaN,3.0,2,156,97,0,1,2,0,0
16101,TQRMNOSYXHMMLNCDEFNFF00798999,2024,1,1,1,41,N,7,305,1,...,NaN,1.0,1,353,2,0,1,3,4,0
16102,TQRMNOPTSHLOLQCDEFNFF00852331,2024,1,1,1,41,N,7,331,1,...,NaN,6.0,7,420,97,0,98,0,0,0
16103,TQRMNOVRSHKOKMCDEFOCD00861772,2024,1,1,1,41,N,8,231,1,...,NaN,3.0,5,288,2,0,98,0,0,0

In [8]:
base_individual_2004 # Hay que cambiar aglomerado

,CODUSU,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pj1_1,pj2_1,pj3_1,idimpp
0,125098,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1299.0,...,07,,06,06,,04,0.0,0.0,0.0,00000
1,125397,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,2018.0,...,00,,00,00,,00,0.0,0.0,0.0,00000
2,125515,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1486.0,...,07,,07,07,,05,0.0,0.0,0.0,00020
3,125558,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,...,08,,08,08,,06,0.0,0.0,0.0,00000
4,125558,1.0,2.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,...,08,,08,08,,06,0.0,0.0,0.0,00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45284,285733,1.0,1.0,Sí,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000
45285,285733,1.0,2.0,Sí,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000
45286,285733,1.0,3.0,Sí,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000
45287,285733,1.0,4.0,0.0,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000
45288,285733,1.0,5.0,0.0,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000

In [133]:
base_individual_2024 # El aglomerado esta ok

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,PDECIFR,ADECIFR,IPCF,DECCFR,IDECCFR,RDECCFR,GDECCFR,PDECCFR,ADECCFR,PONDIH
0,TQRMNOPUTHLMKQCDEGGFB00852588,2024,1,1,3,1,42,S,10,439,...,NaN,12,0.0,12,12.0,12,12.0,NaN,12,0
1,TQRMNOPUTHLMKQCDEGGFB00852588,2024,1,1,4,1,42,S,10,439,...,NaN,12,0.0,12,12.0,12,12.0,NaN,12,0
2,TQRMNOPUTHLMKQCDEGGFB00852588,2024,1,1,5,0,42,S,10,439,...,NaN,12,0.0,12,12.0,12,12.0,NaN,12,0
3,TQRMNOPPWHLLKRCDEGGFB00852574,2024,1,1,1,1,42,S,10,675,...,NaN,8,212500.0,6,6.0,6,6.0,NaN,6,1610
4,TQRMNOPPWHLLKRCDEGGFB00852574,2024,1,1,2,1,42,S,10,675,...,NaN,8,212500.0,6,6.0,6,6.0,NaN,6,1610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46045,TQRMNOPUQHKMKNCDEIJAH00861661,2024,1,1,1,1,1,S,33,3410,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0
46046,TQRMNOPUQHKMKNCDEIJAH00861661,2024,1,1,2,2,1,S,33,3410,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0
46047,TQRMNOPUQHKMKNCDEIJAH00861661,2024,1,1,3,2,1,S,33,3410,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0
46048,TQRMNOPUQHKMKNCDEIJAH00861661,2024,1,1,4,2,1,S,33,3410,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0
46049,TQRMNOPUQHKMKNCDEIJAH00861661,2024,1,1,5,2,1,S,33,3410,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0

In [9]:
# Uniformizamos nombres de columnas
base_hogar_2004.columns = base_hogar_2004.columns.str.lower()
base_hogar_2024.columns = base_hogar_2024.columns.str.lower()

base_individual_2004.columns = base_individual_2004.columns.str.lower()
base_individual_2024.columns = base_individual_2024.columns.str.lower()

In [11]:
# Cambiamos las etiquetas de 'aglomerado' en base_hogar_2004 y base_individual_2004
map_aglomerados = {
    'Ciudad de Buenos Aires': 32,
    'Partidos del GBA': 33
}
base_hogar_2004['aglomerado'] = base_hogar_2004['aglomerado'].replace(map_aglomerados)
base_individual_2004['aglomerado'] = base_individual_2004['aglomerado'].replace(map_aglomerados)

# Filtramos por aglomerados CABA y GBA
aglomerados_valid = [32, 33]
base_hogar_2004 = base_hogar_2004[base_hogar_2004['aglomerado'].isin(aglomerados_valid)]
base_hogar_2024 = base_hogar_2024[base_hogar_2024['aglomerado'].isin(aglomerados_valid)]

base_individual_2004 = base_individual_2004[base_individual_2004['aglomerado'].isin(aglomerados_valid)]
base_individual_2024 = base_individual_2024[base_individual_2024['aglomerado'].isin(aglomerados_valid)]

/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/2286010256.py:6: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  base_hogar_2004['aglomerado'] = base_hogar_2004['aglomerado'].replace(map_aglomerados)
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/2286010256.py:7: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  base_individual_2004['aglomerado'] = base_individual_2004['aglomerado'].replace(map_aglomerados)

In [12]:
# Realizamos los merges entre bases individuales y de hogares por año
base_respondieron_2004 = pd.merge(
    base_individual_2004, base_hogar_2004, on=['codusu', 'nro_hogar'], how='inner'
)
base_respondieron_2024 = pd.merge(
    base_individual_2024, base_hogar_2024, on=['codusu', 'nro_hogar'], how='inner'
)

In [13]:
# Concatenamos las bases de 2004 y 2024
base_unificada = pd.concat([base_respondieron_2004, base_respondieron_2024])
base_unificada # Nos queda una base unificada de 14698 rows × 268 columns

# Guardamos la base unificada en un csv
base_unificada.to_csv("base_unificada.csv", index=False)

In [14]:
base_unificada
print(base_unificada.columns.tolist()) # Vemos los titulos de las columnas

['codusu', 'nro_hogar', 'componente', 'h15', 'ano4_x', 'trimestre_x', 'region_x', 'mas_500_x', 'aglomerado_x', 'pondera_x', 'ch03', 'ch04', 'ch06', 'ch07', 'ch08', 'ch09', 'ch10', 'ch11', 'ch12', 'ch13', 'ch14', 'ch15', 'ch15_cod', 'ch16', 'ch16_cod', 'nivel_ed', 'estado', 'cat_ocup', 'cat_inac', 'pp02c1', 'pp02c2', 'pp02c3', 'pp02c4', 'pp02c5', 'pp02c6', 'pp02c7', 'pp02c8', 'pp02e', 'pp02h', 'pp02i', 'pp03c', 'pp03d', 'pp3e_tot', 'pp3f_tot', 'pp03g', 'pp03h', 'pp03i', 'pp03j', 'intensi', 'pp04a', 'pp04b_cod', 'pp04b1', 'pp04b2', 'pp04b3_mes', 'pp04b3_ano', 'pp04b3_dia', 'pp04c', 'pp04c99', 'pp04d_cod', 'pp04g', 'pp05b2_mes', 'pp05b2_ano', 'pp05b2_dia', 'pp05c_1', 'pp05c_2', 'pp05c_3', 'pp05e', 'pp05f', 'pp05h', 'pp06a', 'pp06c', 'pp06d', 'pp06e', 'pp06h', 'pp07a', 'pp07c', 'pp07d', 'pp07e', 'pp07f1', 'pp07f2', 'pp07f3', 'pp07f4', 'pp07f5', 'pp07g1', 'pp07g2', 'pp07g3', 'pp07g4', 'pp07g_59', 'pp07h', 'pp07i', 'pp07j', 'pp07k', 'pp08d1', 'pp08d4', 'pp08f1', 'pp08f2', 'pp08j1', 'pp08j2', 'pp08j3', 'pp09a', 'pp09a_esp', 'pp09b', 'pp09c', 'pp09c_esp', 'pp10a', 'pp10c', 'pp10d', 'pp10e', 'pp11a', 'pp11b_cod', 'pp11b1', 'pp11b2_mes', 'pp11b2_ano', 'pp11b2_dia', 'pp11c', 'pp11c99', 'pp11d_cod', 'pp11g_ano', 'pp11g_mes', 'pp11g_dia', 'pp11l', 'pp11l1', 'pp11m', 'pp11n', 'pp11o', 'pp11p', 'pp11q', 'pp11r', 'pp11s', 'pp11t', 'p21', 'decocur', 'idecocur', 'rdecocur', 'gdecocur', 'pdecocur', 'adecocur', 'tot_p12', 'p47t', 'decindr', 'idecindr', 'rdecindr', 'gdecindr', 'pdecindr', 'adecindr', 'v2_m', 'v3_m', 'v4_m', 'v5_m', 'v8_m', 'v9_m', 'v10_m', 'v11_m', 'v12_m', 'v18_m', 'v19_am', 'v21_m', 't_vi', 'itf_x', 'decifr_x', 'idecifr_x', 'rdecifr_x', 'gdecifr_x', 'pdecifr_x', 'adecifr_x', 'ipcf_x', 'deccfr_x', 'ideccfr_x', 'rdeccfr_x', 'gdeccfr_x', 'pdeccfr_x', 'adeccfr_x', 'pj1_1', 'pj2_1', 'pj3_1', 'idimpp', 'realizada', 'ano4_y', 'trimestre_y', 'region_y', 'mas_500_y', 'aglomerado_y', 'pondera_y', 'iv1', 'iv1_esp', 'iv2', 'iv3', 'iv3_esp', 'iv4', 'iv5', 'iv6', 'iv7', 'iv7_esp', 'iv8', 'iv9', 'iv10', 'iv11', 'iv12_1', 'iv12_2', 'iv12_3', 'ii1', 'ii2', 'ii3', 'ii3_1', 'ii4_1', 'ii4_2', 'ii4_3', 'ii5', 'ii5_1', 'ii6', 'ii6_1', 'ii7', 'ii7_esp', 'ii8', 'ii8_esp', 'ii9', 'v1', 'v2', 'v21', 'v22', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'v10', 'v11', 'v12', 'v13', 'v14', 'v15', 'v16', 'v17', 'v18', 'v19_a', 'v19_b', 'ix_tot', 'ix_men10', 'ix_mayeq10', 'itf_y', 'decifr_y', 'idecifr_y', 'rdecifr_y', 'gdecifr_y', 'pdecifr_y', 'adecifr_y', 'ipcf_y', 'deccfr_y', 'ideccfr_y', 'rdeccfr_y', 'gdeccfr_y', 'pdeccfr_y', 'adeccfr_y', 'vii1_1', 'vii1_2', 'vii2_1', 'vii2_2', 'vii2_3', 'vii2_4', 'idimph', 'ch05', 'imputa', 'pondiio', 'pondii', 'pondih_x', 'pondih_y']

In [ ]:
# EJERCICIO 3. Limpien la base de datos tomando criterios que hagan sentido. Explicar cualquier decisión como el 
# tratamiento de valores faltantes (missing values), extremos (outliers), o variables categóricas. Justifique sus decisiones

In [15]:
# Notamos que hay columnas que se repiten, algunas terminan en "_x" y otras en "_y". Esto ocurre cuando se mergean. Vamos
# a ver si contienen los mismos valores, quizás es redundante quedarnos con ambas

# Listar columnas con sufijos '_x' y '_y'
columnas_x = [col for col in base_unificada.columns if col.endswith('_x')]
columnas_y = [col for col in base_unificada.columns if col.endswith('_y')]

# Comparar valores entre columnas '_x' y '_y' y decidir qué conservar
for col_x in columnas_x:
    col_base = col_x[:-2]  # Nombre base de la columna
    col_y = col_base + '_y'
    if col_y in base_unificada.columns:
        # Si las columnas son idénticas, conservar una sola
        if base_unificada[col_x].equals(base_unificada[col_y]):
            base_unificada[col_base] = base_unificada[col_x]
        else:
            # Si no son iguales, combinar tomando los valores no nulos
            base_unificada[col_base] = base_unificada[col_x].combine_first(base_unificada[col_y])
        # Eliminar las columnas '_x' y '_y'
        base_unificada.drop(columns=[col_x, col_y], inplace=True)
    else:
        # Renombrar la columna '_x' al nombre base
        base_unificada.rename(columns={col_x: col_base}, inplace=True)

/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x].combine_first(base_unificada[col_y])
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]

In [16]:
base_unificada # Nos queda una base unificada de 14698 rows × 247 columns
print(base_unificada.columns.tolist()) # Vemos los titulos de las columnas

['codusu', 'nro_hogar', 'componente', 'h15', 'ch03', 'ch04', 'ch06', 'ch07', 'ch08', 'ch09', 'ch10', 'ch11', 'ch12', 'ch13', 'ch14', 'ch15', 'ch15_cod', 'ch16', 'ch16_cod', 'nivel_ed', 'estado', 'cat_ocup', 'cat_inac', 'pp02c1', 'pp02c2', 'pp02c3', 'pp02c4', 'pp02c5', 'pp02c6', 'pp02c7', 'pp02c8', 'pp02e', 'pp02h', 'pp02i', 'pp03c', 'pp03d', 'pp3e_tot', 'pp3f_tot', 'pp03g', 'pp03h', 'pp03i', 'pp03j', 'intensi', 'pp04a', 'pp04b_cod', 'pp04b1', 'pp04b2', 'pp04b3_mes', 'pp04b3_ano', 'pp04b3_dia', 'pp04c', 'pp04c99', 'pp04d_cod', 'pp04g', 'pp05b2_mes', 'pp05b2_ano', 'pp05b2_dia', 'pp05c_1', 'pp05c_2', 'pp05c_3', 'pp05e', 'pp05f', 'pp05h', 'pp06a', 'pp06c', 'pp06d', 'pp06e', 'pp06h', 'pp07a', 'pp07c', 'pp07d', 'pp07e', 'pp07f1', 'pp07f2', 'pp07f3', 'pp07f4', 'pp07f5', 'pp07g1', 'pp07g2', 'pp07g3', 'pp07g4', 'pp07g_59', 'pp07h', 'pp07i', 'pp07j', 'pp07k', 'pp08d1', 'pp08d4', 'pp08f1', 'pp08f2', 'pp08j1', 'pp08j2', 'pp08j3', 'pp09a', 'pp09a_esp', 'pp09b', 'pp09c', 'pp09c_esp', 'pp10a', 'pp10c', 'pp10d', 'pp10e', 'pp11a', 'pp11b_cod', 'pp11b1', 'pp11b2_mes', 'pp11b2_ano', 'pp11b2_dia', 'pp11c', 'pp11c99', 'pp11d_cod', 'pp11g_ano', 'pp11g_mes', 'pp11g_dia', 'pp11l', 'pp11l1', 'pp11m', 'pp11n', 'pp11o', 'pp11p', 'pp11q', 'pp11r', 'pp11s', 'pp11t', 'p21', 'decocur', 'idecocur', 'rdecocur', 'gdecocur', 'pdecocur', 'adecocur', 'tot_p12', 'p47t', 'decindr', 'idecindr', 'rdecindr', 'gdecindr', 'pdecindr', 'adecindr', 'v2_m', 'v3_m', 'v4_m', 'v5_m', 'v8_m', 'v9_m', 'v10_m', 'v11_m', 'v12_m', 'v18_m', 'v19_am', 'v21_m', 't_vi', 'pj1_1', 'pj2_1', 'pj3_1', 'idimpp', 'realizada', 'iv1', 'iv1_esp', 'iv2', 'iv3', 'iv3_esp', 'iv4', 'iv5', 'iv6', 'iv7', 'iv7_esp', 'iv8', 'iv9', 'iv10', 'iv11', 'iv12_1', 'iv12_2', 'iv12_3', 'ii1', 'ii2', 'ii3', 'ii3_1', 'ii4_1', 'ii4_2', 'ii4_3', 'ii5', 'ii5_1', 'ii6', 'ii6_1', 'ii7', 'ii7_esp', 'ii8', 'ii8_esp', 'ii9', 'v1', 'v2', 'v21', 'v22', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'v10', 'v11', 'v12', 'v13', 'v14', 'v15', 'v16', 'v17', 'v18', 'v19_a', 'v19_b', 'ix_tot', 'ix_men10', 'ix_mayeq10', 'vii1_1', 'vii1_2', 'vii2_1', 'vii2_2', 'vii2_3', 'vii2_4', 'idimph', 'ch05', 'imputa', 'pondiio', 'pondii', 'ano4', 'trimestre', 'region', 'mas_500', 'aglomerado', 'pondera', 'itf', 'decifr', 'idecifr', 'rdecifr', 'gdecifr', 'pdecifr', 'adecifr', 'ipcf', 'deccfr', 'ideccfr', 'rdeccfr', 'gdeccfr', 'pdeccfr', 'adeccfr', 'pondih']

In [17]:
# Como habíamos hecho en el TP3, para facilitar el análisis, generamos un mapeo con el diccionario y cambiamos todos los str
# a números
# Diccionarios de mapeo

map_region = {
    'Gran Buenos Aires': 1,
    'NOA': 40,
    'NEA': 41,
    'Cuyo': 42,
    'Pampeana': 43,
    'Patagónica': 44
}

map_ch04 = {
    'Varón': 1,
    'Mujer': 2,
}

map_ch07 = {
    'Unido': 1, 'Casado': 2, 'Separado o divorciado': 3, 'Viudo': 4, 'Soltero': 5
}
map_ch08 = {
    'Obra social (incluye PAMI)': 1,
    'Mutual/Prepaga/Servicio de emergencia': 2,
    'Planes y seguros públicos': 3,
    'No paga ni le descuentan': 4,
    'Ns./Nr.': 9,
    'Obra social y mutual/prepaga/servicio de emergencia': 12,
    'Obra social y Planes y Seguros Públicos': 13,
    'Mutual/prepaga/servicio de emergencia/planes y seguros públi': 23,
    'Obra social, mutual/prepaga/servicio de emergencia y Planes y Seguros Públicos': 123
}
map_nivel_ed = {
    'Primaria Incompleta (incluye educación especial)': 1,
    'Primaria Completa': 2,
    'Secundaria Incompleta': 3,
    'Secundaria Completa': 4,
    'Superior Universitaria Incompleta': 5,
    'Superior Universitaria Completa': 6,
    'Sin instrucción': 7,
    'Ns./ Nr.': 9
}
map_estado = {
    'Entrevista individual no realizada (no respuesta al cuestion': 0,
    'Ocupado': 1,
    'Desocupado': 2,
    'Inactivo': 3,
    'Menor de 10 años': 4
}
map_cat_inac = {
    'Jubilado/pensionado': 1,
    'Rentista': 2,
    'Estudiante': 3,
    'Ama de casa': 4,
    'Menor de 6 años': 5,
    'Discapacitado': 6,
    'Otros': 7
}

# Aplicamos los diccionarios de mapeo
base_unificada['region'] = base_unificada['region'].replace(map_region)
base_unificada['ch04'] = base_unificada['ch04'].replace(map_ch04)
base_unificada['ch07'] = base_unificada['ch07'].replace(map_ch07)
base_unificada['ch08'] = base_unificada['ch08'].replace(map_ch08)
base_unificada['nivel_ed'] = base_unificada['nivel_ed'].replace(map_nivel_ed)
base_unificada['estado'] = base_unificada['estado'].replace(map_estado)
base_unificada['cat_inac'] = base_unificada['cat_inac'].replace(map_cat_inac)

# Verificamos las conversiones
print(base_unificada[['region', 'ch04','ch07', 'ch08', 'nivel_ed', 'estado', 'cat_inac']].head())

   region  ch04  ch07  ch08  nivel_ed  estado  cat_inac
0       1     1     4     1         3       3       1.0
1       1     2     3     4         2       1       0.0
2       1     2     4     1         2       3       1.0
3       1     1     2     2         2       1       0.0
4       1     2     2     2         6       3       4.0

/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/2554588390.py:61: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  base_unificada['region'] = base_unificada['region'].replace(map_region)
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/2554588390.py:62: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  base_unificada['ch04'] = base_unificada['ch04'].replace(map_ch04)
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/2554588390.py:63: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  base_unificada['ch07'] = base_unificada['ch07'].replace(map_ch07)
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/2554588390.py:64: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  base_unificada['ch08'] = base_unificada['ch08'].replace(map_ch08)
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/2554588390.py:65: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  base_unificada['nivel_ed'] = base_unificada['nivel_ed'].replace(map_nivel_ed)
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/2554588390.py:66: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  base_unificada['estado'] = base_unificada['estado'].replace(map_estado)
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/2554588390.py:67: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  base_unificada['cat_inac'] = base_unificada['cat_inac'].replace(map_cat_inac)

In [143]:
base_unificada

,codusu,nro_hogar,componente,h15,ch03,ch04,ch06,ch07,ch08,ch09,...,pdecifr,adecifr,ipcf,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pondih
0,125098,1.0,1.0,Sí,Jefe,1,79.0,4,1,Sí,...,,01,368.0,07,,06,06,,04,NaN
1,125397,1.0,1.0,Sí,Jefe,2,67.0,3,4,Sí,...,,00,0.0,00,,00,00,,00,NaN
2,125515,1.0,1.0,Sí,Jefe,2,74.0,4,1,Sí,...,,02,440.0,07,,07,07,,05,NaN
3,125558,1.0,1.0,Sí,Jefe,1,54.0,2,2,Sí,...,,08,532.5,08,,08,08,,06,NaN
4,125558,1.0,2.0,Sí,Cónyuge/Pareja,2,51.0,2,2,Sí,...,,08,532.5,08,,08,08,,06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7046,TQRMNOPUQHKMKNCDEIJAH00861661,1.0,1,1,1,2,43,3,1,1,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0.0
7047,TQRMNOPUQHKMKNCDEIJAH00861661,1.0,2,2,3,1,21,5,1,1,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0.0
7048,TQRMNOPUQHKMKNCDEIJAH00861661,1.0,3,2,3,1,20,5,1,1,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0.0
7049,TQRMNOPUQHKMKNCDEIJAH00861661,1.0,4,2,3,1,11,5,1,1,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0.0
7050,TQRMNOPUQHKMKNCDEIJAH00861661,1.0,5,2,3,2,24,5,1,1,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0.0

In [18]:
print(base_unificada[['ch06', 'p47t', 'ipcf', 'ch04']].apply(lambda x: x.unique())) # Como me da error y me dice que hay 
# valores str, hacemos lo siguiente:
# Nos aseguramos de que las columnas sean numéricas
base_unificada['ch06'] = pd.to_numeric(base_unificada['ch06'], errors='coerce')
base_unificada['p47t'] = pd.to_numeric(base_unificada['p47t'], errors='coerce')
base_unificada['ipcf'] = pd.to_numeric(base_unificada['ipcf'], errors='coerce')

ch06    [79.0, 67.0, 74.0, 54.0, 51.0, 25.0, 20.0, 55....
p47t    [368.0, 0.0, 440.0, 2000.0, 30.0, 100.0, 800.0...
ipcf    [368.0, 0.0, 440.0, 532.5, 208.0, 150.0, 735.0...
ch04                                               [1, 2]
dtype: object

In [19]:
# ch06 = edad. Queremos que la edad esté entre 0 y 100 para que no sea negativa ni mayor a 100
# p47t = ingreso total individual. no permitimos ingresos negativos
# IPCF = Monto de ingreso per cápita familiar. no permitimos ingresos negativos
# ch04 = sexo. 1 = varón. 2 = mujer. solo permitimos estos valores

base_unificada_limpia = base_unificada[
    (base_unificada['ch06'] >= 0) & (base_unificada['ch06'] <= 100) &    
    (base_unificada['p47t'] >= 0) & 
    (base_unificada['ipcf'] >= 0) &
    (base_unificada['ch04'].isin([1, 2]))                   
]

# Verificamos cantidad de filas
print(f"Filas originales: {base_unificada.shape[0]}")
print(f"Filas post filtrado: {base_unificada_limpia.shape[0]}")

# Nos quedamos con:
# Filas originales: 14698
# Filas post filtrado: 13179

Filas originales: 14698
Filas post filtrado: 13179

In [20]:
base_unificada_limpia
# Mostrar columnas que contienen al menos un valor NaN
columns_with_nan = base_unificada_limpia.columns[base_unificada_limpia.isna().any()].tolist()
print(columns_with_nan)

['ch14', 'ch15_cod', 'ch16_cod', 'pp03c', 'pp03d', 'pp3e_tot', 'pp3f_tot', 'pp03g', 'pp03h', 'pp03i', 'pp03j', 'intensi', 'pp04a', 'pp04b_cod', 'pp04b1', 'pp04b2', 'pp04b3_mes', 'pp04b3_ano', 'pp04b3_dia', 'pp04c', 'pp04c99', 'pp04d_cod', 'pp04g', 'pp05b2_mes', 'pp05b2_ano', 'pp05b2_dia', 'pp05c_1', 'pp05c_2', 'pp05c_3', 'pp05e', 'pp05f', 'pp05h', 'pp06a', 'pp06c', 'pp06d', 'pp06e', 'pp06h', 'pp07a', 'pp07c', 'pp07d', 'pp07e', 'pp07f1', 'pp07f2', 'pp07f3', 'pp07f4', 'pp07f5', 'pp07g1', 'pp07g2', 'pp07g3', 'pp07g4', 'pp07g_59', 'pp07h', 'pp07i', 'pp07j', 'pp07k', 'pp08d1', 'pp08d4', 'pp08f1', 'pp08f2', 'pp08j1', 'pp08j2', 'pp08j3', 'pp09a', 'pp09a_esp', 'pp09b', 'pp09c', 'pp09c_esp', 'pp10a', 'pp10c', 'pp10d', 'pp10e', 'pp11a', 'pp11b_cod', 'pp11b1', 'pp11b2_mes', 'pp11b2_ano', 'pp11b2_dia', 'pp11c', 'pp11c99', 'pp11d_cod', 'pp11g_ano', 'pp11g_mes', 'pp11g_dia', 'pp11l', 'pp11l1', 'pp11m', 'pp11n', 'pp11o', 'pp11p', 'pp11q', 'pp11r', 'pp11s', 'pp11t', 'idecocur', 'pdecocur', 'idecindr', 'pdecindr', 'pj1_1', 'pj2_1', 'pj3_1', 'idimpp', 'iv1_esp', 'iv3_esp', 'iv7_esp', 'ii7_esp', 'ii8_esp', 'ix_men10', 'idimph', 'ch05', 'imputa', 'pondiio', 'pondii', 'idecifr', 'pdecifr', 'ideccfr', 'pdeccfr', 'pondih']

In [21]:
# Para facilitar el análisis, tomamos la decisión de eliminar todas las columnas que contengan un valor NaN. Porque si
# eliminábamos las filas con al menos un valor NaN nos quedábamos casi sin muestra

# Eliminamos columnas que contienen al menos un NaN
base_unificada_limpia2 = base_unificada_limpia.dropna(axis=1, how='any')

# Verificamos el resultado
print(f"Filas después de eliminar columnas con NaN: {base_unificada_limpia2.shape[0]}")
print(f"Columnas después de eliminar: {base_unificada_limpia2.shape[1]}")

# Filas después de eliminar columnas con NaN: 13179
# Columnas después de eliminar: 130

Filas después de eliminar columnas con NaN: 13179
Columnas después de eliminar: 130

In [148]:
base_unificada_limpia2

,codusu,nro_hogar,componente,h15,ch03,ch04,ch06,ch07,ch08,ch09,...,itf,decifr,rdecifr,gdecifr,adecifr,ipcf,deccfr,rdeccfr,gdeccfr,adeccfr
0,125098,1.0,1.0,Sí,Jefe,1,79.0,4,1,Sí,...,368.0,02,02,02,01,368.0,07,06,06,04
1,125397,1.0,1.0,Sí,Jefe,2,67.0,3,4,Sí,...,0.0,00,00,00,00,0.0,00,00,00,00
2,125515,1.0,1.0,Sí,Jefe,2,74.0,4,1,Sí,...,440.0,03,03,03,02,440.0,07,07,07,05
3,125558,1.0,1.0,Sí,Jefe,1,54.0,2,2,Sí,...,2130.0,09,09,09,08,532.5,08,08,08,06
4,125558,1.0,2.0,Sí,Cónyuge/Pareja,2,51.0,2,2,Sí,...,2130.0,09,09,09,08,532.5,08,08,08,06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,TQRMNORWVHLKOPCDEIIAD00861660,1.0,4,1,3,1,21.0,5,1,1,...,0.0,12,12,12.0,12,0.0,12,12,12.0,12
7039,TQRMNORWVHLKOPCDEIIAD00861660,1.0,5,1,3,1,19.0,5,1,1,...,0.0,12,12,12.0,12,0.0,12,12,12.0,12
7040,TQRMNORWVHLKOPCDEIIAD00861660,1.0,6,1,3,2,16.0,5,1,1,...,0.0,12,12,12.0,12,0.0,12,12,12.0,12
7041,TQRMNOPSYHJLOQCDEIIAD00794774,1.0,1,1,1,2,34.0,5,1,1,...,910000.0,8,8,8.0,7,910000.0,10,10,10.0,10
7043,TQRMNOSXVHJKKMCDEIJAH00794775,1.0,2,1,2,1,63.0,2,1,1,...,0.0,12,12,12.0,12,0.0,12,12,12.0,12

In [22]:
print(base_unificada_limpia2.columns.tolist()) # Vemos los titulos de las columnas

['codusu', 'nro_hogar', 'componente', 'h15', 'ch03', 'ch04', 'ch06', 'ch07', 'ch08', 'ch09', 'ch10', 'ch11', 'ch12', 'ch13', 'ch15', 'ch16', 'nivel_ed', 'estado', 'cat_ocup', 'cat_inac', 'pp02c1', 'pp02c2', 'pp02c3', 'pp02c4', 'pp02c5', 'pp02c6', 'pp02c7', 'pp02c8', 'pp02e', 'pp02h', 'pp02i', 'p21', 'decocur', 'rdecocur', 'gdecocur', 'adecocur', 'tot_p12', 'p47t', 'decindr', 'rdecindr', 'gdecindr', 'adecindr', 'v2_m', 'v3_m', 'v4_m', 'v5_m', 'v8_m', 'v9_m', 'v10_m', 'v11_m', 'v12_m', 'v18_m', 'v19_am', 'v21_m', 't_vi', 'realizada', 'iv1', 'iv2', 'iv3', 'iv4', 'iv5', 'iv6', 'iv7', 'iv8', 'iv9', 'iv10', 'iv11', 'iv12_1', 'iv12_2', 'iv12_3', 'ii1', 'ii2', 'ii3', 'ii3_1', 'ii4_1', 'ii4_2', 'ii4_3', 'ii5', 'ii5_1', 'ii6', 'ii6_1', 'ii7', 'ii8', 'ii9', 'v1', 'v2', 'v21', 'v22', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'v10', 'v11', 'v12', 'v13', 'v14', 'v15', 'v16', 'v17', 'v18', 'v19_a', 'v19_b', 'ix_tot', 'ix_mayeq10', 'vii1_1', 'vii1_2', 'vii2_1', 'vii2_2', 'vii2_3', 'vii2_4', 'ano4', 'trimestre', 'region', 'mas_500', 'aglomerado', 'pondera', 'itf', 'decifr', 'rdecifr', 'gdecifr', 'adecifr', 'ipcf', 'deccfr', 'rdeccfr', 'gdeccfr', 'adeccfr']

In [ ]:
### AGREGAR ALGUNA LIMPIEZA DE OUTLIERS??

In [23]:
# Guardamos la base limpia en csv
base_unificada_limpia2.to_csv('base_unificada_limpia2.csv', index=False)

In [24]:
# EJERCICIO 4. Construya variables (mínimo 3) que no estén en la base pero que sean relevantes para predecir individuos 
# desocupados (por ejemplo, la proporción de personas que trabajan en el hogar).

#persona que no terminó la secundaria y recibe subsidios
#

In [25]:
# VARIABLE 1: Dependencia económica (proporción de personas fuera de edad de trabajar por hogar)

# Como en la limpieza eliminamos ix_men10, calculamos la cantidad de menores de 10 años restándole ix_mayeq10 (mayores de 10)
# al total de integrantes por hogar

# Calculamos la dependencia económica
base_unificada_limpia2['dependencia_economica'] = (
    (base_unificada_limpia2['ix_tot'] - base_unificada_limpia2['ix_mayeq10']) / base_unificada_limpia2['ix_tot']
)

# Verificamos valores únicos
print(base_unificada_limpia2['dependencia_economica'].unique())

# Por qué sería relevante esta variable?:
# La dependencia económica puede predecir la desocupación al reflejar la carga sobre los miembros ocupados del hogar, 
# asociándose con contextos de vulnerabilidad socioeconómica y menor acceso al mercado laboral.

[0.         0.2        0.33333333 0.16666667 0.25       0.4
 0.66666667 0.5        0.28571429 0.14285714 0.6        0.22222222
 0.75       0.44444444 0.42857143 0.3        0.53846154 0.11111111
 0.125      0.375      0.55555556 0.27272727 0.38461538 0.26666667
 0.71428571 0.57142857 0.36363636]

/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1113583480.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada_limpia2['dependencia_economica'] = (
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_5290/1113583480.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_unificada_limpia2['dependencia_economica'] = (

In [48]:
# VARIABLE 2: Proporción de personas sin secundaria completa

# Filtramos las personas que no han completado la secundaria
# 1 = Primaria Incompleta (incluye educación especial)
# 2 = Primaria Completa
# 3 = Secundaria Incompleta
# 7 = Sin instrucción
# 9 = Ns./Nr.
sin_secundaria = base_unificada_limpia2[base_unificada_limpia2['nivel_ed'].isin([1, 2, 3, 7, 9])]

# Calculamos la cantidad de personas sin secundaria completa por hogar (codusu y nro_hogar)
sin_secundaria_count = (
    sin_secundaria.groupby(['codusu', 'nro_hogar']).size()
    .reset_index(name='sin_secundaria_count')
)

# Calculamos la cantidad total de personas por hogar (codusu y nro_hogar)
total_personas_hogar = (
    base_unificada_limpia2.groupby(['codusu', 'nro_hogar'])['ix_tot'].sum()
    .reset_index(name='total_personas_hogar')
)

# Combinamos ambos resultados en la base principal
base_unificada_limpia2 = base_unificada_limpia2.merge(
    sin_secundaria_count, on=['codusu', 'nro_hogar'], how='left'
).merge(
    total_personas_hogar, on=['codusu', 'nro_hogar'], how='left'
)

# Calculamos la proporción de personas sin secundaria completa
base_unificada_limpia2['proporcion_sin_secundaria'] = (
    base_unificada_limpia2['sin_secundaria_count'] / base_unificada_limpia2['total_personas_hogar']
)

# Visualizamos el resultado
print(base_unificada_limpia2[['codusu', 'nro_hogar', 'proporcion_sin_secundaria']].dropna())

                              codusu  nro_hogar  proporcion_sin_secundaria
0                           125098          1.0                   1.000000
1                           125397          1.0                   1.000000
2                           125515          1.0                   1.000000
3                           125558          1.0                   0.062500
4                           125558          1.0                   0.062500
...                              ...        ...                        ...
13172  TQRMNORWVHLKOPCDEIIAD00861660        1.0                   0.033333
13173  TQRMNORWVHLKOPCDEIIAD00861660        1.0                   0.033333
13174  TQRMNORWVHLKOPCDEIIAD00861660        1.0                   0.033333
13175  TQRMNORWVHLKOPCDEIIAD00861660        1.0                   0.033333
13176  TQRMNORWVHLKOPCDEIIAD00861660        1.0                   0.033333

[11114 rows x 3 columns]

In [52]:
# VARIABLE 3: Proporción de subsidios sobre el ingreso total del hogar:

# Calculamos la proporción de subsidios sobre el ingreso total del hogar
base_unificada_limpia2['proporcion_subsidios_ingreso'] = base_unificada_limpia2['v5_m'] / base_unificada_limpia2['itf']

# Visualizamos el resultado
print(base_unificada_limpia2['proporcion_subsidios_ingreso'].unique()) # Para chequear que nos den proporciones de 0 a 1

# La proporción de subsidios sobre el ingreso total del hogar puede ayudar a predecir la desocupación porque refleja la 
# dependencia de los hogares de los subsidios sociales, lo que puede estar asociado con una menor integración al mercado 
# laboral. Un hogar con alta proporción de subsidios indica posible vulnerabilidad económica y falta de empleo formal, 
# lo que puede correlacionarse con mayores tasas de desocupación.

[0.                nan 1.         0.27272727 0.10714286 0.15625
 0.41666667 0.09090909 0.2        0.15789474 0.42857143 0.23076923
 0.12562814 0.33333333 0.46296296 0.15384615 0.1875     0.10169492
 0.14563107 0.5        0.6        0.86206897 0.34883721 0.76923077
 0.2265861  0.075      0.40540541 0.12510425 0.3        0.1744186
 0.26315789 0.20833333 0.27777778 0.75       0.20134228 0.08928571
 0.14018692 0.15400411 0.29411765 0.37313433 0.22222222 0.31914894
 0.04       0.11111111 0.16478555 0.09493671 0.17857143 0.20547945
 0.14354067 0.13875598 0.08333333 0.25862069 0.25       0.04225352
 0.23809524 0.55555556 0.36407767 0.12       0.14285714 0.09259259
 0.02985075 0.7518797  0.11428571 0.24752475 0.1199262  0.12361624
        inf 0.28571429 0.44594595 0.72093023 0.15966387 0.06976744
 0.22580645 0.54545455 0.25093633 0.04519774 0.52662722 0.03225806
 0.14909091 0.07092199 0.11585366 0.21875    0.16233766 0.30232558
 0.46511628 0.34722222 0.53488372 0.66666667 0.6875     0.09920182
 0.09756098 0.04117315 0.57777778 0.09927007 0.12060302 0.10743802
 0.30337079 0.22435897 0.01853871 0.30434783 0.7        0.09689922
 0.34375    0.032      0.192      0.04761905 0.14754098 0.51923077
 0.02552204 0.06152242 0.1        0.02531646 0.03448276 0.0619137
 0.62992126 0.16216216 0.22077922 0.09722222 0.03608247 0.02659574
 0.18103448 0.17647059 0.75308642 0.52       0.05701079 0.0625
 0.1369863  0.02572016 0.00311526 0.25252525 0.06896552 0.26896552
 0.25925926 0.44444444 0.11695906 0.54901961 0.29577465 0.47540984
 0.53703704 0.69924812 0.23529412 0.34246575 0.59259259 0.04483431
 0.06367041 0.28270042 0.05882353 0.14320685 0.56521739 0.11480924
 0.43624161 0.2248062  0.18435754 0.3006993  0.84615385 0.14772727
 0.0521327  0.77777778 0.30523256 0.3902439  0.06542056 0.07621247
 0.19565217 0.1030303  0.90804598 0.09195402 0.24528302 0.03067485
 0.00394477 0.3258427  0.27797834 0.69767442 0.13793103 0.3373494
 0.2519084  0.21901528 0.24       0.19287834 0.08753709 0.26829268
 0.09196523 0.45205479 0.32038835 0.3630363  0.35483871 0.18662953
 0.46153846 0.4        0.0797546  0.08510638 0.08366534 0.7278481
 0.10810811 0.1091954  0.67741935 0.12594458 0.14767932 0.63829787
 0.12269939 0.07688168 0.07407407 0.37396122 0.15770609 0.29268293
 0.27317073 0.04255319 0.05997001 0.10486599 0.06765548 0.41758242
 0.10485934 0.09433962]

In [ ]:
# EJERCICIO 5. Presenten estadísticas descriptivas de tres variables de la encuesta de hogar que ustedes creen que pueden 
# ser relevantes para predecir la desocupación. Comenten las estadísticas obtenidas.

In [252]:
# Cálculo de estadísticas descriptivas para tres variables relevantes para la desocupación

# Configuramos para mostrar números sin notación científica
pd.set_option('display.float_format', '{:.2f}'.format)

# Variable 1: Ingreso total del hogar (itf)
print("Estadísticas descriptivas para Ingreso Total del Hogar (itf):")
print(base_unificada_limpia2['itf'].describe())

# Variable 2: Edad (ch06)
print("\nEstadísticas descriptivas para Edad (ch06):")
print(base_unificada_limpia2['ch06'].describe())

# Variable 3: Subsidios sobre el ingreso (v5_m)
print("\nEstadísticas descriptivas para Subsidios sobre el Ingreso (v5_m):")
print(base_unificada_limpia2['v5_m'].describe())

# Comentarios:
# Comentario de los resultados:

# Ingreso Total del Hogar (itf):

# El ingreso total promedio de los hogares es 241,548.18 unidades, pero la desviación estándar de 823,021.61 indica 
# una alta dispersión en los ingresos, lo que sugiere que existen hogares con ingresos muy altos que elevan el promedio.
# El valor mínimo es 0, lo que puede indicar hogares sin ingresos. Mientras que el valor máximo es muy elevado (33,937,000), 
# lo que puede representar casos de ingresos muy altos.
# El percentil 25 (450) y el percentil 75 (255,000) indican que una parte significativa de los hogares tiene ingresos 
# relativamente bajos (por debajo de 1,200 unidades), con una pequeña proporción en los tramos más altos.


# Edad (ch06):
# La edad promedio de las personas es 35.02 años, con una desviación estándar de 22.82, lo que sugiere una gran diversidad 
# en las edades de la muestra, desde personas muy jóvenes hasta mayores de 90 años.
# El valor mínimo es 1, lo cual nos resulta extraño, ya que un niño de 1 año no puede responder la encuesta. Aquí debe haber algún
# dato mal imputado. El máximo es 96, lo que muestra la presencia de personas mayores en la muestra.
# El percentil 25 es 16 años y el percentil 75 es 52 años, lo que indica que la mayoría de las personas en la muestra tienen 
# entre 16 y 52 años, lo que es consistente con la Población en Edad de Trabajar.


# Subsidios sobre el Ingreso (v5_m):

# El monto promedio de subsidios es 1,487.14 unidades, pero con una desviación estándar extremadamente alta de 13,726.57, 
# lo que refleja que la mayoría de los individuos no reciben subsidios significativos, pero algunos casos aislados reciben 
# montos elevados.
# La mediana y los percentiles 25 y 75 son 0, lo que indica que una gran proporción de la población no recibe subsidios o 
# ayudas. El valor máximo de 300,000 muestra casos extremos de subsidios recibidos.
# Este patrón podría sugerir que los subsidios son accesibles para un pequeño grupo de personas, mientras que la mayoría no 
# recibe ayudas sociales.

Estadísticas descriptivas para Ingreso Total del Hogar (itf):
count      13179.00
mean      241548.18
std       823021.61
min            0.00
25%          450.00
50%         1200.00
75%       255000.00
max     33937000.00
Name: itf, dtype: float64

Estadísticas descriptivas para Edad (ch06):
count   13179.00
mean       35.02
std        22.82
min         1.00
25%        16.00
50%        31.00
75%        52.00
max        96.00
Name: ch06, dtype: float64

Estadísticas descriptivas para Subsidios sobre el Ingreso (v5_m):
count    13179.00
mean      1487.14
std      13726.57
min          0.00
25%          0.00
50%          0.00
75%          0.00
max     300000.00
Name: v5_m, dtype: float64