In [ ]:
### TP4

In [ ]:
## PARTE I

In [ ]:
# EJERCICIO 2. 2. Descarguen la base de microdatos de la EPH correspondiente al primer trimestre de 2004 y 2024 en formato 
# .dta y .xls, respectivamente. La base de hogares se llama Hogar_t104.dta y usu_hogar_T124.xls, respectivamente. 
# Eliminen todas las observaciones que no corresponden a los aglomerados de Ciudad Autónoma de Buenos Aires o Gran Buenos 
# Aires y unan ambos trimestres en una sola base. Esto es, a la base de la encuesta individual de cada año (que usaron en el 
# TP3) unan la base de la encuesta de hogar. Asegúrese de estar usando las variables CODUSU y NRO_Hogar para el merge.

In [116]:
# Importamos las librerías necesarias
import pandas as pd

In [118]:
# Cargamos bases hogar
base_hogar_2004 = pd.read_stata("Hogar_t104.dta")
base_hogar_2024 = pd.read_excel("usu_hogar_T124.xlsx")

In [119]:
# Cargamos bases individual
base_individual_2004 = pd.read_stata('Individual_t104.dta')
base_individual_2024 = pd.read_excel('usu_individual_T124.xlsx')

In [120]:
base_hogar_2004 # Necesitamos cambiar aglomerado por nros. 'Ciudad de Buenos Aires': 32, 'Partidos del GBA': 33

,CODUSU,nro_hogar,realizada,ano4,trimestre,region,mas_500,aglomerado,pondera,iv1,...,gdeccfr,pdeccfr,adeccfr,vii1_1,vii1_2,vii2_1,vii2_2,vii2_3,vii2_4,idimph
0,125051,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,355.0,Casa,...,01,,01,1.0,0.0,3.0,0.0,0.0,0.0,00000
1,125082,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,306.0,Casa,...,03,,02,2.0,0.0,98.0,0.0,0.0,0.0,10000
2,125181,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,541.0,Casa,...,09,,09,2.0,0.0,1.0,3.0,0.0,0.0,00000
3,125283,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,255.0,Casa,...,07,,07,1.0,2.0,3.0,4.0,0.0,0.0,10000
4,126192,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,218.0,Casa,...,08,,08,2.0,0.0,Otra persona que no vive en el hogar,0.0,0.0,0.0,10000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12811,283186,1.0,Sí,2004.0,1er. Trimestre,Pampeana,N,Río Cuarto,272.0,Casa,...,,04,03,1.0,0.0,98.0,0.0,0.0,0.0,00000
12812,284685,1.0,Sí,2004.0,1er. Trimestre,Pampeana,N,Río Cuarto,397.0,Casa,...,,05,04,2.0,0.0,98.0,0.0,0.0,0.0,00000
12813,285584,1.0,Sí,2004.0,1er. Trimestre,Pampeana,N,Río Cuarto,130.0,Casa,...,,09,09,Otra persona que no vive en el hogar,0.0,98.0,0.0,0.0,0.0,00100
12814,287302,2.0,Sí,2004.0,1er. Trimestre,Pampeana,N,Río Cuarto,153.0,Casa,...,,02,02,2.0,0.0,6.0,0.0,0.0,0.0,00000
12815,288189,1.0,Sí,2004.0,1er. Trimestre,Pampeana,N,Río Cuarto,193.0,Casa,...,,01,01,2.0,0.0,98.0,0.0,0.0,0.0,00000

In [124]:
base_hogar_2024 # El aglomerado está ok

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,REALIZADA,REGION,MAS_500,AGLOMERADO,PONDERA,IV1,...,GDECCFR,PDECCFR,ADECCFR,PONDIH,VII1_1,VII1_2,VII2_1,VII2_2,VII2_3,VII2_4
0,TQRMNORPSHLOLMCDEFNFF00852337,2024,1,1,1,41,N,7,179,1,...,NaN,5.0,5,212,1,2,98,0,0,0
1,TQRMNOPRYHKOKTCDEFNFF00856789,2024,1,1,1,41,N,7,313,1,...,NaN,12.0,12,0,1,0,2,0,0,0
2,TQTMNORRSHKOKTCDEFNFF00856790,2024,1,1,1,41,N,7,286,1,...,NaN,8.0,9,401,2,0,1,0,0,0
3,TQRMNORRSHKOKTCDEFNFF00856791,2024,1,1,1,41,N,7,306,1,...,NaN,5.0,6,438,2,0,3,0,0,0
4,TQRMNOQTVHKLLLCDEFNFF00856792,2024,1,1,1,41,N,7,361,1,...,NaN,6.0,7,831,1,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16099,TQRMNOPXXHLKKUCDEFNFF00852324,2024,1,1,1,41,N,7,336,2,...,NaN,12.0,12,0,96,0,2,3,0,0
16100,TQRMNOPQTHKMLMCDEHMHF00861771,2024,1,1,1,42,N,26,141,1,...,NaN,3.0,2,156,97,0,1,2,0,0
16101,TQRMNOSYXHMMLNCDEFNFF00798999,2024,1,1,1,41,N,7,305,1,...,NaN,1.0,1,353,2,0,1,3,4,0
16102,TQRMNOPTSHLOLQCDEFNFF00852331,2024,1,1,1,41,N,7,331,1,...,NaN,6.0,7,420,97,0,98,0,0,0
16103,TQRMNOVRSHKOKMCDEFOCD00861772,2024,1,1,1,41,N,8,231,1,...,NaN,3.0,5,288,2,0,98,0,0,0

In [126]:
base_individual_2004 # Hay que cambiar aglomerado

,CODUSU,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pj1_1,pj2_1,pj3_1,idimpp
0,125098,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1299.0,...,07,,06,06,,04,0.0,0.0,0.0,00000
1,125397,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,2018.0,...,00,,00,00,,00,0.0,0.0,0.0,00000
2,125515,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1486.0,...,07,,07,07,,05,0.0,0.0,0.0,00020
3,125558,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,...,08,,08,08,,06,0.0,0.0,0.0,00000
4,125558,1.0,2.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,...,08,,08,08,,06,0.0,0.0,0.0,00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45284,285733,1.0,1.0,Sí,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000
45285,285733,1.0,2.0,Sí,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000
45286,285733,1.0,3.0,Sí,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000
45287,285733,1.0,4.0,0.0,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000
45288,285733,1.0,5.0,0.0,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000

In [128]:
base_individual_2024 # El aglomerado esta ok

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,PDECIFR,ADECIFR,IPCF,DECCFR,IDECCFR,RDECCFR,GDECCFR,PDECCFR,ADECCFR,PONDIH
0,TQRMNOPUTHLMKQCDEGGFB00852588,2024,1,1,3,1,42,S,10,439,...,NaN,12,0.0,12,12.0,12,12.0,NaN,12,0
1,TQRMNOPUTHLMKQCDEGGFB00852588,2024,1,1,4,1,42,S,10,439,...,NaN,12,0.0,12,12.0,12,12.0,NaN,12,0
2,TQRMNOPUTHLMKQCDEGGFB00852588,2024,1,1,5,0,42,S,10,439,...,NaN,12,0.0,12,12.0,12,12.0,NaN,12,0
3,TQRMNOPPWHLLKRCDEGGFB00852574,2024,1,1,1,1,42,S,10,675,...,NaN,8,212500.0,6,6.0,6,6.0,NaN,6,1610
4,TQRMNOPPWHLLKRCDEGGFB00852574,2024,1,1,2,1,42,S,10,675,...,NaN,8,212500.0,6,6.0,6,6.0,NaN,6,1610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46045,TQRMNOPUQHKMKNCDEIJAH00861661,2024,1,1,1,1,1,S,33,3410,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0
46046,TQRMNOPUQHKMKNCDEIJAH00861661,2024,1,1,2,2,1,S,33,3410,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0
46047,TQRMNOPUQHKMKNCDEIJAH00861661,2024,1,1,3,2,1,S,33,3410,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0
46048,TQRMNOPUQHKMKNCDEIJAH00861661,2024,1,1,4,2,1,S,33,3410,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0
46049,TQRMNOPUQHKMKNCDEIJAH00861661,2024,1,1,5,2,1,S,33,3410,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0

In [130]:
# Uniformizamos nombres de columnas
base_hogar_2004.columns = base_hogar_2004.columns.str.lower()
base_hogar_2024.columns = base_hogar_2024.columns.str.lower()

base_individual_2004.columns = base_individual_2004.columns.str.lower()
base_individual_2024.columns = base_individual_2024.columns.str.lower()

In [132]:
# Cambiamos las etiquetas de 'aglomerado' en base_hogar_2004 y base_individual_2004
map_aglomerados = {
    'Ciudad de Buenos Aires': 32,
    'Partidos del GBA': 33
}
base_hogar_2004['aglomerado'] = base_hogar_2004['aglomerado'].replace(map_aglomerados)
base_individual_2004['aglomerado'] = base_individual_2004['aglomerado'].replace(map_aglomerados)

# Filtramos por aglomerados CABA y GBA
aglomerados_valid = [32, 33]
base_hogar_2004 = base_hogar_2004[base_hogar_2004['aglomerado'].isin(aglomerados_valid)]
base_hogar_2024 = base_hogar_2024[base_hogar_2024['aglomerado'].isin(aglomerados_valid)]

base_individual_2004 = base_individual_2004[base_individual_2004['aglomerado'].isin(aglomerados_valid)]
base_individual_2024 = base_individual_2024[base_individual_2024['aglomerado'].isin(aglomerados_valid)]

/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/2286010256.py:6: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  base_hogar_2004['aglomerado'] = base_hogar_2004['aglomerado'].replace(map_aglomerados)
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/2286010256.py:7: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  base_individual_2004['aglomerado'] = base_individual_2004['aglomerado'].replace(map_aglomerados)

In [134]:
# Realizamos los merges entre bases individuales y de hogares por año
base_respondieron_2004 = pd.merge(
    base_individual_2004, base_hogar_2004, on=['codusu', 'nro_hogar'], how='inner'
)
base_respondieron_2024 = pd.merge(
    base_individual_2024, base_hogar_2024, on=['codusu', 'nro_hogar'], how='inner'
)

In [136]:
# Concatenamos las bases de 2004 y 2024
base_unificada = pd.concat([base_respondieron_2004, base_respondieron_2024])
base_unificada # Nos queda una base unificada de 14698 rows × 268 columns

# Guardamos la base unificada en un csv
base_unificada.to_csv("base_unificada.csv", index=False)

In [138]:
base_unificada
print(base_unificada.columns.tolist()) # Vemos los titulos de las columnas

['codusu', 'nro_hogar', 'componente', 'h15', 'ano4_x', 'trimestre_x', 'region_x', 'mas_500_x', 'aglomerado_x', 'pondera_x', 'ch03', 'ch04', 'ch06', 'ch07', 'ch08', 'ch09', 'ch10', 'ch11', 'ch12', 'ch13', 'ch14', 'ch15', 'ch15_cod', 'ch16', 'ch16_cod', 'nivel_ed', 'estado', 'cat_ocup', 'cat_inac', 'pp02c1', 'pp02c2', 'pp02c3', 'pp02c4', 'pp02c5', 'pp02c6', 'pp02c7', 'pp02c8', 'pp02e', 'pp02h', 'pp02i', 'pp03c', 'pp03d', 'pp3e_tot', 'pp3f_tot', 'pp03g', 'pp03h', 'pp03i', 'pp03j', 'intensi', 'pp04a', 'pp04b_cod', 'pp04b1', 'pp04b2', 'pp04b3_mes', 'pp04b3_ano', 'pp04b3_dia', 'pp04c', 'pp04c99', 'pp04d_cod', 'pp04g', 'pp05b2_mes', 'pp05b2_ano', 'pp05b2_dia', 'pp05c_1', 'pp05c_2', 'pp05c_3', 'pp05e', 'pp05f', 'pp05h', 'pp06a', 'pp06c', 'pp06d', 'pp06e', 'pp06h', 'pp07a', 'pp07c', 'pp07d', 'pp07e', 'pp07f1', 'pp07f2', 'pp07f3', 'pp07f4', 'pp07f5', 'pp07g1', 'pp07g2', 'pp07g3', 'pp07g4', 'pp07g_59', 'pp07h', 'pp07i', 'pp07j', 'pp07k', 'pp08d1', 'pp08d4', 'pp08f1', 'pp08f2', 'pp08j1', 'pp08j2', 'pp08j3', 'pp09a', 'pp09a_esp', 'pp09b', 'pp09c', 'pp09c_esp', 'pp10a', 'pp10c', 'pp10d', 'pp10e', 'pp11a', 'pp11b_cod', 'pp11b1', 'pp11b2_mes', 'pp11b2_ano', 'pp11b2_dia', 'pp11c', 'pp11c99', 'pp11d_cod', 'pp11g_ano', 'pp11g_mes', 'pp11g_dia', 'pp11l', 'pp11l1', 'pp11m', 'pp11n', 'pp11o', 'pp11p', 'pp11q', 'pp11r', 'pp11s', 'pp11t', 'p21', 'decocur', 'idecocur', 'rdecocur', 'gdecocur', 'pdecocur', 'adecocur', 'tot_p12', 'p47t', 'decindr', 'idecindr', 'rdecindr', 'gdecindr', 'pdecindr', 'adecindr', 'v2_m', 'v3_m', 'v4_m', 'v5_m', 'v8_m', 'v9_m', 'v10_m', 'v11_m', 'v12_m', 'v18_m', 'v19_am', 'v21_m', 't_vi', 'itf_x', 'decifr_x', 'idecifr_x', 'rdecifr_x', 'gdecifr_x', 'pdecifr_x', 'adecifr_x', 'ipcf_x', 'deccfr_x', 'ideccfr_x', 'rdeccfr_x', 'gdeccfr_x', 'pdeccfr_x', 'adeccfr_x', 'pj1_1', 'pj2_1', 'pj3_1', 'idimpp', 'realizada', 'ano4_y', 'trimestre_y', 'region_y', 'mas_500_y', 'aglomerado_y', 'pondera_y', 'iv1', 'iv1_esp', 'iv2', 'iv3', 'iv3_esp', 'iv4', 'iv5', 'iv6', 'iv7', 'iv7_esp', 'iv8', 'iv9', 'iv10', 'iv11', 'iv12_1', 'iv12_2', 'iv12_3', 'ii1', 'ii2', 'ii3', 'ii3_1', 'ii4_1', 'ii4_2', 'ii4_3', 'ii5', 'ii5_1', 'ii6', 'ii6_1', 'ii7', 'ii7_esp', 'ii8', 'ii8_esp', 'ii9', 'v1', 'v2', 'v21', 'v22', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'v10', 'v11', 'v12', 'v13', 'v14', 'v15', 'v16', 'v17', 'v18', 'v19_a', 'v19_b', 'ix_tot', 'ix_men10', 'ix_mayeq10', 'itf_y', 'decifr_y', 'idecifr_y', 'rdecifr_y', 'gdecifr_y', 'pdecifr_y', 'adecifr_y', 'ipcf_y', 'deccfr_y', 'ideccfr_y', 'rdeccfr_y', 'gdeccfr_y', 'pdeccfr_y', 'adeccfr_y', 'vii1_1', 'vii1_2', 'vii2_1', 'vii2_2', 'vii2_3', 'vii2_4', 'idimph', 'ch05', 'imputa', 'pondiio', 'pondii', 'pondih_x', 'pondih_y']

In [ ]:
# EJERCICIO 3. Limpien la base de datos tomando criterios que hagan sentido. Explicar cualquier decisión como el 
# tratamiento de valores faltantes (missing values), extremos (outliers), o variables categóricas. Justifique sus decisiones

In [140]:
# Notamos que hay columnas que se repiten, algunas terminan en "_x" y otras en "_y". Esto ocurre cuando se mergean. Vamos
# a ver si contienen los mismos valores, quizás es redundante quedarnos con ambas

# Listar columnas con sufijos '_x' y '_y'
columnas_x = [col for col in base_unificada.columns if col.endswith('_x')]
columnas_y = [col for col in base_unificada.columns if col.endswith('_y')]

# Comparar valores entre columnas '_x' y '_y' y decidir qué conservar
for col_x in columnas_x:
    col_base = col_x[:-2]  # Nombre base de la columna
    col_y = col_base + '_y'
    if col_y in base_unificada.columns:
        # Si las columnas son idénticas, conservar una sola
        if base_unificada[col_x].equals(base_unificada[col_y]):
            base_unificada[col_base] = base_unificada[col_x]
        else:
            # Si no son iguales, combinar tomando los valores no nulos
            base_unificada[col_base] = base_unificada[col_x].combine_first(base_unificada[col_y])
        # Eliminar las columnas '_x' y '_y'
        base_unificada.drop(columns=[col_x, col_y], inplace=True)
    else:
        # Renombrar la columna '_x' al nombre base
        base_unificada.rename(columns={col_x: col_base}, inplace=True)

/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x].combine_first(base_unificada[col_y])
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1738755702.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada[col_base] = base_unificada[col_x]

In [142]:
base_unificada # Nos queda una base unificada de 14698 rows × 247 columns
print(base_unificada.columns.tolist()) # Vemos los titulos de las columnas

['codusu', 'nro_hogar', 'componente', 'h15', 'ch03', 'ch04', 'ch06', 'ch07', 'ch08', 'ch09', 'ch10', 'ch11', 'ch12', 'ch13', 'ch14', 'ch15', 'ch15_cod', 'ch16', 'ch16_cod', 'nivel_ed', 'estado', 'cat_ocup', 'cat_inac', 'pp02c1', 'pp02c2', 'pp02c3', 'pp02c4', 'pp02c5', 'pp02c6', 'pp02c7', 'pp02c8', 'pp02e', 'pp02h', 'pp02i', 'pp03c', 'pp03d', 'pp3e_tot', 'pp3f_tot', 'pp03g', 'pp03h', 'pp03i', 'pp03j', 'intensi', 'pp04a', 'pp04b_cod', 'pp04b1', 'pp04b2', 'pp04b3_mes', 'pp04b3_ano', 'pp04b3_dia', 'pp04c', 'pp04c99', 'pp04d_cod', 'pp04g', 'pp05b2_mes', 'pp05b2_ano', 'pp05b2_dia', 'pp05c_1', 'pp05c_2', 'pp05c_3', 'pp05e', 'pp05f', 'pp05h', 'pp06a', 'pp06c', 'pp06d', 'pp06e', 'pp06h', 'pp07a', 'pp07c', 'pp07d', 'pp07e', 'pp07f1', 'pp07f2', 'pp07f3', 'pp07f4', 'pp07f5', 'pp07g1', 'pp07g2', 'pp07g3', 'pp07g4', 'pp07g_59', 'pp07h', 'pp07i', 'pp07j', 'pp07k', 'pp08d1', 'pp08d4', 'pp08f1', 'pp08f2', 'pp08j1', 'pp08j2', 'pp08j3', 'pp09a', 'pp09a_esp', 'pp09b', 'pp09c', 'pp09c_esp', 'pp10a', 'pp10c', 'pp10d', 'pp10e', 'pp11a', 'pp11b_cod', 'pp11b1', 'pp11b2_mes', 'pp11b2_ano', 'pp11b2_dia', 'pp11c', 'pp11c99', 'pp11d_cod', 'pp11g_ano', 'pp11g_mes', 'pp11g_dia', 'pp11l', 'pp11l1', 'pp11m', 'pp11n', 'pp11o', 'pp11p', 'pp11q', 'pp11r', 'pp11s', 'pp11t', 'p21', 'decocur', 'idecocur', 'rdecocur', 'gdecocur', 'pdecocur', 'adecocur', 'tot_p12', 'p47t', 'decindr', 'idecindr', 'rdecindr', 'gdecindr', 'pdecindr', 'adecindr', 'v2_m', 'v3_m', 'v4_m', 'v5_m', 'v8_m', 'v9_m', 'v10_m', 'v11_m', 'v12_m', 'v18_m', 'v19_am', 'v21_m', 't_vi', 'pj1_1', 'pj2_1', 'pj3_1', 'idimpp', 'realizada', 'iv1', 'iv1_esp', 'iv2', 'iv3', 'iv3_esp', 'iv4', 'iv5', 'iv6', 'iv7', 'iv7_esp', 'iv8', 'iv9', 'iv10', 'iv11', 'iv12_1', 'iv12_2', 'iv12_3', 'ii1', 'ii2', 'ii3', 'ii3_1', 'ii4_1', 'ii4_2', 'ii4_3', 'ii5', 'ii5_1', 'ii6', 'ii6_1', 'ii7', 'ii7_esp', 'ii8', 'ii8_esp', 'ii9', 'v1', 'v2', 'v21', 'v22', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'v10', 'v11', 'v12', 'v13', 'v14', 'v15', 'v16', 'v17', 'v18', 'v19_a', 'v19_b', 'ix_tot', 'ix_men10', 'ix_mayeq10', 'vii1_1', 'vii1_2', 'vii2_1', 'vii2_2', 'vii2_3', 'vii2_4', 'idimph', 'ch05', 'imputa', 'pondiio', 'pondii', 'ano4', 'trimestre', 'region', 'mas_500', 'aglomerado', 'pondera', 'itf', 'decifr', 'idecifr', 'rdecifr', 'gdecifr', 'pdecifr', 'adecifr', 'ipcf', 'deccfr', 'ideccfr', 'rdeccfr', 'gdeccfr', 'pdeccfr', 'adeccfr', 'pondih']

In [144]:
# Como habíamos hecho en el TP3, para facilitar el análisis, generamos un mapeo con el diccionario y cambiamos todos los str
# a números
# Diccionarios de mapeo

map_region = {
    'Gran Buenos Aires': 1,
    'NOA': 40,
    'NEA': 41,
    'Cuyo': 42,
    'Pampeana': 43,
    'Patagónica': 44
}

map_ch04 = {
    'Varón': 1,
    'Mujer': 2,
}

map_ch07 = {
    'Unido': 1, 'Casado': 2, 'Separado o divorciado': 3, 'Viudo': 4, 'Soltero': 5
}
map_ch08 = {
    'Obra social (incluye PAMI)': 1,
    'Mutual/Prepaga/Servicio de emergencia': 2,
    'Planes y seguros públicos': 3,
    'No paga ni le descuentan': 4,
    'Ns./Nr.': 9,
    'Obra social y mutual/prepaga/servicio de emergencia': 12,
    'Obra social y Planes y Seguros Públicos': 13,
    'Mutual/prepaga/servicio de emergencia/planes y seguros públi': 23,
    'Obra social, mutual/prepaga/servicio de emergencia y Planes y Seguros Públicos': 123
}
map_nivel_ed = {
    'Primaria Incompleta (incluye educación especial)': 1,
    'Primaria Completa': 2,
    'Secundaria Incompleta': 3,
    'Secundaria Completa': 4,
    'Superior Universitaria Incompleta': 5,
    'Superior Universitaria Completa': 6,
    'Sin instrucción': 7,
    'Ns./ Nr.': 9
}
map_estado = {
    'Entrevista individual no realizada (no respuesta al cuestion': 0,
    'Ocupado': 1,
    'Desocupado': 2,
    'Inactivo': 3,
    'Menor de 10 años': 4
}
map_cat_inac = {
    'Jubilado/pensionado': 1,
    'Rentista': 2,
    'Estudiante': 3,
    'Ama de casa': 4,
    'Menor de 6 años': 5,
    'Discapacitado': 6,
    'Otros': 7
}

# Aplicamos los diccionarios de mapeo
base_unificada['region'] = base_unificada['region'].replace(map_region)
base_unificada['ch04'] = base_unificada['ch04'].replace(map_ch04)
base_unificada['ch07'] = base_unificada['ch07'].replace(map_ch07)
base_unificada['ch08'] = base_unificada['ch08'].replace(map_ch08)
base_unificada['nivel_ed'] = base_unificada['nivel_ed'].replace(map_nivel_ed)
base_unificada['estado'] = base_unificada['estado'].replace(map_estado)
base_unificada['cat_inac'] = base_unificada['cat_inac'].replace(map_cat_inac)

# Verificamos las conversiones
print(base_unificada[['region', 'ch04','ch07', 'ch08', 'nivel_ed', 'estado', 'cat_inac']].head())

   region  ch04  ch07  ch08  nivel_ed  estado  cat_inac
0       1     1     4     1         3       3       1.0
1       1     2     3     4         2       1       0.0
2       1     2     4     1         2       3       1.0
3       1     1     2     2         2       1       0.0
4       1     2     2     2         6       3       4.0

/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/2554588390.py:61: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  base_unificada['region'] = base_unificada['region'].replace(map_region)
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/2554588390.py:62: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  base_unificada['ch04'] = base_unificada['ch04'].replace(map_ch04)
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/2554588390.py:63: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  base_unificada['ch07'] = base_unificada['ch07'].replace(map_ch07)
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/2554588390.py:64: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  base_unificada['ch08'] = base_unificada['ch08'].replace(map_ch08)
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/2554588390.py:65: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  base_unificada['nivel_ed'] = base_unificada['nivel_ed'].replace(map_nivel_ed)
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/2554588390.py:66: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  base_unificada['estado'] = base_unificada['estado'].replace(map_estado)
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/2554588390.py:67: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  base_unificada['cat_inac'] = base_unificada['cat_inac'].replace(map_cat_inac)

In [146]:
base_unificada

,codusu,nro_hogar,componente,h15,ch03,ch04,ch06,ch07,ch08,ch09,...,pdecifr,adecifr,ipcf,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pondih
0,125098,1.0,1.0,Sí,Jefe,1,79.0,4,1,Sí,...,,01,368.0,07,,06,06,,04,NaN
1,125397,1.0,1.0,Sí,Jefe,2,67.0,3,4,Sí,...,,00,0.0,00,,00,00,,00,NaN
2,125515,1.0,1.0,Sí,Jefe,2,74.0,4,1,Sí,...,,02,440.0,07,,07,07,,05,NaN
3,125558,1.0,1.0,Sí,Jefe,1,54.0,2,2,Sí,...,,08,532.5,08,,08,08,,06,NaN
4,125558,1.0,2.0,Sí,Cónyuge/Pareja,2,51.0,2,2,Sí,...,,08,532.5,08,,08,08,,06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7046,TQRMNOPUQHKMKNCDEIJAH00861661,1.0,1,1,1,2,43,3,1,1,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0.0
7047,TQRMNOPUQHKMKNCDEIJAH00861661,1.0,2,2,3,1,21,5,1,1,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0.0
7048,TQRMNOPUQHKMKNCDEIJAH00861661,1.0,3,2,3,1,20,5,1,1,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0.0
7049,TQRMNOPUQHKMKNCDEIJAH00861661,1.0,4,2,3,1,11,5,1,1,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0.0
7050,TQRMNOPUQHKMKNCDEIJAH00861661,1.0,5,2,3,2,24,5,1,1,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0.0

In [148]:
print(base_unificada[['ch06', 'p47t', 'ipcf', 'ch04']].apply(lambda x: x.unique())) # Como me da error y me dice que hay 
# valores str, hacemos lo siguiente:
# Nos aseguramos de que las columnas sean numéricas
base_unificada['ch06'] = pd.to_numeric(base_unificada['ch06'], errors='coerce')
base_unificada['p47t'] = pd.to_numeric(base_unificada['p47t'], errors='coerce')
base_unificada['ipcf'] = pd.to_numeric(base_unificada['ipcf'], errors='coerce')

ch06    [79.0, 67.0, 74.0, 54.0, 51.0, 25.0, 20.0, 55....
p47t    [368.0, 0.0, 440.0, 2000.0, 30.0, 100.0, 800.0...
ipcf    [368.0, 0.0, 440.0, 532.5, 208.0, 150.0, 735.0...
ch04                                               [1, 2]
dtype: object

In [150]:
# ch06 = edad. Queremos que la edad esté entre 0 y 100 para que no sea negativa ni mayor a 100
# p47t = ingreso total individual. no permitimos ingresos negativos
# IPCF = Monto de ingreso per cápita familiar. no permitimos ingresos negativos
# ch04 = sexo. 1 = varón. 2 = mujer. solo permitimos estos valores

base_unificada_limpia = base_unificada[
    (base_unificada['ch06'] >= 0) & (base_unificada['ch06'] <= 100) &    
    (base_unificada['p47t'] >= 0) & 
    (base_unificada['ipcf'] >= 0) &
    (base_unificada['ch04'].isin([1, 2]))                   
]

# Verificamos cantidad de filas
print(f"Filas originales: {base_unificada.shape[0]}")
print(f"Filas post filtrado: {base_unificada_limpia.shape[0]}")

# Nos quedamos con:
# Filas originales: 14698
# Filas post filtrado: 13179

Filas originales: 14698
Filas post filtrado: 13179

In [152]:
base_unificada_limpia
# Mostrar columnas que contienen al menos un valor NaN
columns_with_nan = base_unificada_limpia.columns[base_unificada_limpia.isna().any()].tolist()
print(columns_with_nan)

['ch14', 'ch15_cod', 'ch16_cod', 'pp03c', 'pp03d', 'pp3e_tot', 'pp3f_tot', 'pp03g', 'pp03h', 'pp03i', 'pp03j', 'intensi', 'pp04a', 'pp04b_cod', 'pp04b1', 'pp04b2', 'pp04b3_mes', 'pp04b3_ano', 'pp04b3_dia', 'pp04c', 'pp04c99', 'pp04d_cod', 'pp04g', 'pp05b2_mes', 'pp05b2_ano', 'pp05b2_dia', 'pp05c_1', 'pp05c_2', 'pp05c_3', 'pp05e', 'pp05f', 'pp05h', 'pp06a', 'pp06c', 'pp06d', 'pp06e', 'pp06h', 'pp07a', 'pp07c', 'pp07d', 'pp07e', 'pp07f1', 'pp07f2', 'pp07f3', 'pp07f4', 'pp07f5', 'pp07g1', 'pp07g2', 'pp07g3', 'pp07g4', 'pp07g_59', 'pp07h', 'pp07i', 'pp07j', 'pp07k', 'pp08d1', 'pp08d4', 'pp08f1', 'pp08f2', 'pp08j1', 'pp08j2', 'pp08j3', 'pp09a', 'pp09a_esp', 'pp09b', 'pp09c', 'pp09c_esp', 'pp10a', 'pp10c', 'pp10d', 'pp10e', 'pp11a', 'pp11b_cod', 'pp11b1', 'pp11b2_mes', 'pp11b2_ano', 'pp11b2_dia', 'pp11c', 'pp11c99', 'pp11d_cod', 'pp11g_ano', 'pp11g_mes', 'pp11g_dia', 'pp11l', 'pp11l1', 'pp11m', 'pp11n', 'pp11o', 'pp11p', 'pp11q', 'pp11r', 'pp11s', 'pp11t', 'idecocur', 'pdecocur', 'idecindr', 'pdecindr', 'pj1_1', 'pj2_1', 'pj3_1', 'idimpp', 'iv1_esp', 'iv3_esp', 'iv7_esp', 'ii7_esp', 'ii8_esp', 'ix_men10', 'idimph', 'ch05', 'imputa', 'pondiio', 'pondii', 'idecifr', 'pdecifr', 'ideccfr', 'pdeccfr', 'pondih']

In [154]:
# Para facilitar el análisis, tomamos la decisión de eliminar todas las columnas que contengan un valor NaN. Porque si
# eliminábamos las filas con al menos un valor NaN nos quedábamos casi sin muestra

# Eliminamos columnas que contienen al menos un NaN
base_unificada_limpia2 = base_unificada_limpia.dropna(axis=1, how='any')

# Verificamos el resultado
print(f"Filas después de eliminar columnas con NaN: {base_unificada_limpia2.shape[0]}")
print(f"Columnas después de eliminar: {base_unificada_limpia2.shape[1]}")

# Filas después de eliminar columnas con NaN: 13179
# Columnas después de eliminar: 130

Filas después de eliminar columnas con NaN: 13179
Columnas después de eliminar: 130

In [156]:
base_unificada_limpia2

,codusu,nro_hogar,componente,h15,ch03,ch04,ch06,ch07,ch08,ch09,...,itf,decifr,rdecifr,gdecifr,adecifr,ipcf,deccfr,rdeccfr,gdeccfr,adeccfr
0,125098,1.0,1.0,Sí,Jefe,1,79.0,4,1,Sí,...,368.0,02,02,02,01,368.0,07,06,06,04
1,125397,1.0,1.0,Sí,Jefe,2,67.0,3,4,Sí,...,0.0,00,00,00,00,0.0,00,00,00,00
2,125515,1.0,1.0,Sí,Jefe,2,74.0,4,1,Sí,...,440.0,03,03,03,02,440.0,07,07,07,05
3,125558,1.0,1.0,Sí,Jefe,1,54.0,2,2,Sí,...,2130.0,09,09,09,08,532.5,08,08,08,06
4,125558,1.0,2.0,Sí,Cónyuge/Pareja,2,51.0,2,2,Sí,...,2130.0,09,09,09,08,532.5,08,08,08,06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,TQRMNORWVHLKOPCDEIIAD00861660,1.0,4,1,3,1,21.0,5,1,1,...,0.0,12,12,12.0,12,0.0,12,12,12.0,12
7039,TQRMNORWVHLKOPCDEIIAD00861660,1.0,5,1,3,1,19.0,5,1,1,...,0.0,12,12,12.0,12,0.0,12,12,12.0,12
7040,TQRMNORWVHLKOPCDEIIAD00861660,1.0,6,1,3,2,16.0,5,1,1,...,0.0,12,12,12.0,12,0.0,12,12,12.0,12
7041,TQRMNOPSYHJLOQCDEIIAD00794774,1.0,1,1,1,2,34.0,5,1,1,...,910000.0,8,8,8.0,7,910000.0,10,10,10.0,10
7043,TQRMNOSXVHJKKMCDEIJAH00794775,1.0,2,1,2,1,63.0,2,1,1,...,0.0,12,12,12.0,12,0.0,12,12,12.0,12

In [158]:
print(base_unificada_limpia2.columns.tolist()) # Vemos los titulos de las columnas

['codusu', 'nro_hogar', 'componente', 'h15', 'ch03', 'ch04', 'ch06', 'ch07', 'ch08', 'ch09', 'ch10', 'ch11', 'ch12', 'ch13', 'ch15', 'ch16', 'nivel_ed', 'estado', 'cat_ocup', 'cat_inac', 'pp02c1', 'pp02c2', 'pp02c3', 'pp02c4', 'pp02c5', 'pp02c6', 'pp02c7', 'pp02c8', 'pp02e', 'pp02h', 'pp02i', 'p21', 'decocur', 'rdecocur', 'gdecocur', 'adecocur', 'tot_p12', 'p47t', 'decindr', 'rdecindr', 'gdecindr', 'adecindr', 'v2_m', 'v3_m', 'v4_m', 'v5_m', 'v8_m', 'v9_m', 'v10_m', 'v11_m', 'v12_m', 'v18_m', 'v19_am', 'v21_m', 't_vi', 'realizada', 'iv1', 'iv2', 'iv3', 'iv4', 'iv5', 'iv6', 'iv7', 'iv8', 'iv9', 'iv10', 'iv11', 'iv12_1', 'iv12_2', 'iv12_3', 'ii1', 'ii2', 'ii3', 'ii3_1', 'ii4_1', 'ii4_2', 'ii4_3', 'ii5', 'ii5_1', 'ii6', 'ii6_1', 'ii7', 'ii8', 'ii9', 'v1', 'v2', 'v21', 'v22', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'v10', 'v11', 'v12', 'v13', 'v14', 'v15', 'v16', 'v17', 'v18', 'v19_a', 'v19_b', 'ix_tot', 'ix_mayeq10', 'vii1_1', 'vii1_2', 'vii2_1', 'vii2_2', 'vii2_3', 'vii2_4', 'ano4', 'trimestre', 'region', 'mas_500', 'aglomerado', 'pondera', 'itf', 'decifr', 'rdecifr', 'gdecifr', 'adecifr', 'ipcf', 'deccfr', 'rdeccfr', 'gdeccfr', 'adeccfr']

In [ ]:
### AGREGAR ALGUNA LIMPIEZA DE OUTLIERS??

In [160]:
# Guardamos la base limpia en csv
base_unificada_limpia2.to_csv('base_unificada_limpia2.csv', index=False)

In [ ]:
# EJERCICIO 4. Construya variables (mínimo 3) que no estén en la base pero que sean relevantes para predecir individuos 
# desocupados (por ejemplo, la proporción de personas que trabajan en el hogar).

#persona que no terminó la secundaria y recibe subsidios
#

In [187]:
# VARIABLE 1: persona que en los últimos 12 meses no buscó trabajo (pp02h = 2) y en los últimos 12 meses no trabajó (pp02i = 2)
# Definimos el mapeo de valores para las columnas pp02h y pp02i
map_pp02h = {
    'Sí': 1,
    'No': 2
}

map_pp02i = {
    'Sí': 1,
    'No': 2
}

# Reemplazamos los valores en pp02h y pp02i con sus valores numéricos
base_unificada_limpia2['pp02h'] = base_unificada_limpia2['pp02h'].replace(map_pp02h)
base_unificada_limpia2['pp02i'] = base_unificada_limpia2['pp02i'].replace(map_pp02i)

# Creamos una nueva columna para predecir desocupados (no trabaja y no busca trabajo)
base_unificada_limpia2['no_trabaja_y_no_busca_trabajo'] = ((base_unificada_limpia2['pp02h'] == 2) & (base_unificada_limpia2['pp02i'] == 2)).astype(int)

# Verificamos los resultados
print(base_unificada_limpia2[['nro_hogar', 'pp02h', 'pp02i', 'no_trabaja_y_no_busca_trabajo']].head())

   nro_hogar  pp02h  pp02i  no_trabaja_y_no_busca_trabajo
0        1.0    2.0    2.0                              1
1        1.0    0.0    0.0                              0
2        1.0    2.0    2.0                              1
3        1.0    0.0    0.0                              0
4        1.0    2.0    2.0                              1

/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1054650804.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  base_unificada_limpia2['pp02h'] = base_unificada_limpia2['pp02h'].replace(map_pp02h)
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1054650804.py:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  base_unificada_limpia2['pp02i'] = base_unificada_limpia2['pp02i'].replace(map_pp02i)

In [205]:
# VARIABLE 2: Persona que no tiene educación formal y recibe subsidios
# Definir el mapeo para la columna de subsidios v5
map_v5 = {
    'Sí': 1,  # Recibe subsidios
    'No': 2   # No recibe subsidios
}

# Reemplazar los valores de v5 según el mapeo
base_unificada_limpia2['v5'] = base_unificada_limpia2['v5'].replace(map_v5)

# Crear la nueva columna para personas que no tienen educación formal (1 y 7 en nivel_ed) y reciben subsidios
base_unificada_limpia2['sin_educacion_formal_y_subsidios'] = (
    (base_unificada_limpia2['nivel_ed'].isin([1, 7])) & (base_unificada_limpia2['v5'] == '1')
).astype(int)

# Verificar los resultados
#print(base_unificada_limpia2[['nro_hogar', 'nivel_ed', 'v5', 'sin_educacion_formal_y_subsidios']].head())
#print(base_unificada_limpia2['v5'].unique())

#print(base_unificada_limpia2['sin_educacion_formal_y_subsidios'].unique())
sin_educacion_formal_y_subsidios = base_unificada_limpia2[
    (base_unificada_limpia2['nivel_ed'].isin([1, 7])) & (base_unificada_limpia2['v5'] == '1')
]
print(sin_educacion_formal_y_subsidios.shape[0])  # Cuántos registros cumplen la condición

0

In [182]:
# Verificar si los valores de IX_Tot son correctos
print(base_unificada_limpia2[['nro_hogar', 'ix_tot']].drop_duplicates().head())

# Definir los niveles educativos que consideramos "sin educación formal"
sin_educacion_formal = [1, 7]

# Crear una columna para indicar si la persona tiene educación formal o no
base_unificada_limpia2['sin_educacion_formal'] = base_unificada_limpia2['nivel_educativo'].isin(sin_educacion_formal).astype(int)

# Verificar si la columna 'sin_educacion_formal' está calculada correctamente
print(base_unificada_limpia2[['nro_hogar', 'nivel_ed', 'sin_educacion_formal']].head())

# Calcular la cantidad de personas sin educación formal por hogar
personas_sin_educacion_formal = base_unificada_limpia2.groupby('nro_hogar')['sin_educacion_formal'].sum().reset_index(name='total_sin_educacion_formal')

# Añadir el tamaño del hogar (IX_Tot) para cada hogar
tamanio_hogar = base_unificada_limpia2.groupby('nro_hogar')['ix_tot'].first().reset_index()

# Verificar que estamos combinando correctamente los datos
print(personas_sin_educacion_formal.head())
print(tamanio_hogar.head())

# Combinar las cantidades de personas sin educación formal con el tamaño del hogar
personas_sin_educacion_formal = personas_sin_educacion_formal.merge(tamanio_hogar, on='nro_hogar', how='left')

# Verificar si la combinación es correcta
print(personas_sin_educacion_formal[['nro_hogar', 'total_sin_educacion_formal', 'ix_tot']].head())

# Calcular la proporción de personas sin educación formal por hogar
personas_sin_educacion_formal['proporcion_sin_educacion_formal'] = (
    personas_sin_educacion_formal['total_sin_educacion_formal'] / personas_sin_educacion_formal['ix_tot']
)

# Verificar la proporción
print(personas_sin_educacion_formal[['nro_hogar', 'proporcion_sin_educacion_formal']].head())

# Unir la columna de proporción de vuelta al DataFrame original
base_unificada_limpia2 = base_unificada_limpia2.merge(
    personas_sin_educacion_formal[['nro_hogar', 'proporcion_sin_educacion_formal']],
    on='nro_hogar',
    how='left'
)

# Verificar los resultados únicos por hogar
print(base_unificada_limpia2[['nro_hogar', 'proporcion_sin_educacion_formal']].drop_duplicates().head())

    nro_hogar  ix_tot
0         1.0     1.0
3         1.0     4.0
7         1.0     5.0
17        1.0     2.0
25        1.0     3.0

KeyError: 'nivel_educativo'

In [112]:
# VARIABLE 1: PROPORCION DE OCUPADOS POR HOGAR
# Recordamos que en 'estado': ocupado = 1.
# ix_tot indica la cantidad de miembros por hogar

# 1. Crear una nueva columna con el total de ocupados por hogar
ocupados_por_hogar = base_unificada_limpia2[base_unificada_limpia2['estado'] == 1].groupby('nro_hogar').size()

# 2. Crear un DataFrame para el total de ocupados por hogar
ocupados_por_hogar = ocupados_por_hogar.reset_index(name='total_ocupados')

# 3. Añadir el tamaño del hogar (`ix_tot`) al DataFrame `ocupados_por_hogar`
# Usamos el primer valor de `ix_tot` de cada hogar
tamanio_hogar = base_unificada_limpia2.groupby('nro_hogar')['ix_tot'].first().reset_index()
ocupados_por_hogar = ocupados_por_hogar.merge(tamanio_hogar, on='nro_hogar', how='left')

# 4. Calcular la proporción de ocupados por hogar
ocupados_por_hogar['proporcion_ocupados_hogar'] = ocupados_por_hogar['total_ocupados'] / ocupados_por_hogar['ix_tot']

# 5. Eliminar la columna 'proporcion_ocupados_hogar' si ya existe en el DataFrame original
base_unificada_limpia2 = base_unificada_limpia2.drop(columns=['proporcion_ocupados_hogar'], errors='ignore')

# 6. Asociar esta proporción de vuelta al DataFrame original
base_unificada_limpia2 = base_unificada_limpia2.merge(
    ocupados_por_hogar[['nro_hogar', 'proporcion_ocupados_hogar']],
    on='nro_hogar',
    how='left'
)

# 7. Verificar los resultados únicos por hogar
proporcion_por_hogar = base_unificada_limpia2[['nro_hogar', 'proporcion_ocupados_hogar']].drop_duplicates()
print(proporcion_por_hogar)

      nro_hogar  proporcion_ocupados_hogar
0           1.0                     5137.0
87          2.0                       55.5
1270        3.0                        1.0
8189       51.0                        1.0

In [172]:
# 1. Crear una columna que indique si la persona está ocupada (estado == 1)
base_unificada_limpia2['es_ocupado'] = (base_unificada_limpia2['estado'] == 1).astype(int)

# 2. Calcular el número total de ocupados por hogar (sumando la columna 'es_ocupado' por cada hogar)
ocupados_por_hogar = base_unificada_limpia2.groupby('nro_hogar')['es_ocupado'].sum().reset_index(name='total_ocupados')

# 3. Añadir el tamaño del hogar (IX_Tot) al DataFrame de ocupados por hogar
tamanio_hogar = base_unificada_limpia2.groupby('nro_hogar')['ix_tot'].first().reset_index()
ocupados_por_hogar = ocupados_por_hogar.merge(tamanio_hogar, on='nro_hogar', how='left')

# 4. Calcular la proporción de ocupados por hogar
ocupados_por_hogar['proporcion_ocupados_hogar'] = ocupados_por_hogar['total_ocupados'] / ocupados_por_hogar['ix_tot']

# 5. Asegurarnos de que la columna 'proporcion_ocupados_hogar' se agregó correctamente
# Unir esta columna al DataFrame original `base_unificada_limpia2` sin perderla
base_unificada_limpia2 = base_unificada_limpia2.merge(
    ocupados_por_hogar[['nro_hogar', 'proporcion_ocupados_hogar']],
    on='nro_hogar',
    how='left'
)

# Verificar que la columna se haya agregado correctamente
print(base_unificada_limpia2[['nro_hogar', 'proporcion_ocupados_hogar']].drop_duplicates().head())

      nro_hogar  proporcion_ocupados_hogar
0           1.0                     5137.0
87          2.0                       55.5
1270        3.0                        1.0
8189       51.0                        1.0

In [47]:
# VARIABLE 1: PROPORCION DE OCUPADOS POR HOGAR
# Recordamos que en 'estado': ocupado = 1.
# Calcular la proporción de ocupados por hogar
ocupados_por_hogar = base_unificada_limpia2.groupby('nro_hogar')['estado'].apply(
    lambda x: (x == 1).sum() / len(x) if len(x) > 0 else 0
)

# Asignar la proporción de ocupados a la columna 'proporcion_ocupados_hogar' en el DataFrame
base_unificada_limpia2['proporcion_ocupados_hogar'] = base_unificada_limpia2['nro_hogar'].map(ocupados_por_hogar)

# Verificar los resultados de la nueva columna (muestra los primeros 5 registros)
print(base_unificada_limpia2[['nro_hogar', 'proporcion_ocupados_hogar']].head())

# Verificar los resultados únicos de la proporción de ocupados por cada hogar
proporcion_por_hogar = base_unificada_limpia2[['nro_hogar', 'proporcion_ocupados_hogar']].drop_duplicates()
print(proporcion_por_hogar)

   nro_hogar  proporcion_ocupados_hogar
0        1.0                   0.396986
1        1.0                   0.396986
2        1.0                   0.396986
3        1.0                   0.396986
4        1.0                   0.396986
      nro_hogar  proporcion_ocupados_hogar
0           1.0                   0.396986
87          2.0                   0.482609
1290        3.0                   0.500000
846        51.0                   1.000000

/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1772097429.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada_limpia2['proporcion_ocupados_hogar'] = base_unificada_limpia2['nro_hogar'].map(ocupados_por_hogar)
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_1013/1772097429.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_unificada_limpia2['proporcion_ocupados_hogar'] = base_unificada_limpia2['nro_hogar'].map(ocupados_por_hogar)

In [425]:
# Calcular la proporción de personas ocupadas en el hogar de una forma más directa
ocupados_por_hogar = base_unificada_limpia2.groupby('nro_hogar')['estado'].apply(lambda x: (x == 1).sum() / len(x) if len(x) > 0 else 0)

# Ahora asignamos esta proporción a la columna
base_unificada_limpia2['proporcion_ocupados_hogar'] = base_unificada_limpia2['nro_hogar'].map(ocupados_por_hogar)
base_unificada_limpia2['proporcion_ocupados_hogar']

/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_34023/1387924407.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_unificada_limpia2['proporcion_ocupados_hogar'] = base_unificada_limpia2['nro_hogar'].map(ocupados_por_hogar)

0       0.396986
1       0.396986
2       0.396986
3       0.396986
4       0.396986
          ...
7038    0.396986
7039    0.396986
7040    0.396986
7041    0.396986
7043    0.396986
Name: proporcion_ocupados_hogar, Length: 13179, dtype: float64

In [415]:
# Verifica si hay NaN en las columnas 'estado' y 'nro_hogar'


# Verificar las columnas de cálculo
print(base_unificada_limpia2[['ipcf', 'estado', 'nro_hogar']].isna().sum())

ipcf         0
estado       0
nro_hogar    0
dtype: int64

In [409]:
# 1. Proporción de personas ocupadas en el hogar
base_unificada_limpia2['proporcion_ocupados_hogar'] = base_unificada_limpia2.groupby('nro_hogar')['estado'].apply(
    lambda x: (x == 1).sum() / len(x))

# 2. Ingreso per cápita familiar relativo (comparado con el ingreso medio)
ingreso_promedio = base_unificada_limpia2['ipcf'].mean()
base_unificada_limpia2['ingreso_relativo'] = base_unificada_limpia2['ipcf'] / ingreso_promedio

# 3. Proporción de personas con educación superior en el hogar
base_unificada_limpia2['proporcion_educacion_superior'] = base_unificada_limpia2.groupby('nro_hogar')['nivel_ed'].apply(
    lambda x: ((x == 6) | (x == 7)).sum() / len(x))

# 4. Proporción de personas en edad de trabajar (PET) en el hogar
base_unificada_limpia2['proporcion_pet'] = base_unificada_limpia2.groupby('nro_hogar')['ch06'].apply(
    lambda x: ((x >= 18) & (x <= 65)).sum() / len(x))

# 5. Número de miembros activos en el hogar (ocupados o desocupados)
base_unificada_limpia2['numero_miembros_activamente_trabajando'] = base_unificada_limpia2.groupby('nro_hogar')['estado'].apply(
    lambda x: ((x == 1) | (x == 2)).sum())

/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_34023/1602674250.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada_limpia2['proporcion_ocupados_hogar'] = base_unificada_limpia2.groupby('nro_hogar')['estado'].apply(
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_34023/1602674250.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_unificada_limpia2['proporcion_ocupados_hogar'] = base_unificada_limpia2.groupby('nro_hogar')['estado'].apply(
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_34023/1602674250.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada_limpia2['ingreso_relativo'] = base_unificada_limpia2['ipcf'] / ingreso_promedio
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_34023/1602674250.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_unificada_limpia2['ingreso_relativo'] = base_unificada_limpia2['ipcf'] / ingreso_promedio
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_34023/1602674250.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada_limpia2['proporcion_educacion_superior'] = base_unificada_limpia2.groupby('nro_hogar')['nivel_ed'].apply(
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_34023/1602674250.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_unificada_limpia2['proporcion_educacion_superior'] = base_unificada_limpia2.groupby('nro_hogar')['nivel_ed'].apply(
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_34023/1602674250.py:14: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada_limpia2['proporcion_pet'] = base_unificada_limpia2.groupby('nro_hogar')['ch06'].apply(
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_34023/1602674250.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_unificada_limpia2['proporcion_pet'] = base_unificada_limpia2.groupby('nro_hogar')['ch06'].apply(
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_34023/1602674250.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  base_unificada_limpia2['numero_miembros_activamente_trabajando'] = base_unificada_limpia2.groupby('nro_hogar')['estado'].apply(
/var/folders/80/gzgqn7bd7pqcf1x058lykxh80000gn/T/ipykernel_34023/1602674250.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_unificada_limpia2['numero_miembros_activamente_trabajando'] = base_unificada_limpia2.groupby('nro_hogar')['estado'].apply(

In [411]:
base_unificada_limpia2[['proporcion_ocupados_hogar', 'ingreso_relativo', 'proporcion_educacion_superior', 'proporcion_pet', 'numero_miembros_activamente_trabajando']].head()

,proporcion_ocupados_hogar,ingreso_relativo,proporcion_educacion_superior,proporcion_pet,numero_miembros_activamente_trabajando
0,NaN,0.004306,NaN,NaN,NaN
1,0.396986,0.000000,0.185162,0.588949,5932.0
2,0.482609,0.005148,0.213043,0.682609,125.0
3,0.500000,0.006230,0.500000,0.750000,4.0
4,NaN,0.006230,NaN,NaN,NaN